/* colors */

$blue: #4bc4ee;
$darkblue: #45b4e8;
$verydarkblue: #105ba6;
$lightblue: #61e5f9;
$yellow: #ffe690;
$darkyellow: #f2ce61;
$brown: #9b7155;
$red: #ff9486;
$darkred: #e6625f;
$lightred: #ffa598;
$green: #71db96;
$darkgreen: #64cb81;
$white: #ffffff;
$bg: #f2eeeb;
$el_bg: #f7f7f7;
$light: #999999;
$base: #666666;
$dark: #333333;

/* base */

$small_screen: 1280px;
$min_width: 1000px;
$hfheight: 80px;
$line_height: 1.3em;
$content_right: 10%;
$content_padding: 0 10%;