extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/action/action.css")
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=yb0bsJMIQ5tGXR/L4ufIEGUJZhrYwSaqtetSb48bIz3xjxhSuny6ThgP*g7U6pj4RnPjtksKfad60GFKgnZRvHEi7fh849MkMlQmVdahDFFi5xCzy2bIrVL4U*PrTyFwHv*0hTTeNMHoJeSA3LFrzZThTFdvRrXaK3ZLBJa44ac-';

block append content
	#action.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.topper.adorable_table
			.adorable_cell
				.label.novito_nova Офiцiйнi правила Акцii «Перша тисяча»
				.text (надалі – Акція)
		
		.action_content
			ol
				li.li_title
					.number 1.
					.title Організатор Акції, територія та строки (тривалість) проведення Акції
				
				li
					.number 1.1.
					.title
					| Організатором Акції є ПАТ «Вімм-Білль-Данн Україна», що знаходиться за адресою: Україна, 08132, Київська обл., Києво-Святошинський район, м. Вишневе, вул. Промислова, 7  (надалі – Організатор).
					br
					| Виконавцем Акції є ТОВ «Пеппермінт». Місцезнаходження Виконавця: м. Київ, вул. Павлівська, 18, оф.100, код ЄДРПОУ - 37334287 (надалі – Виконавець).
				
				li
					.number 1.2.
					.title Акція проводиться на всій території України, за виключенням тимчасово окупованої території Автономної Республіки Крим та міста Севастополя (надалі – «Територія Акції»).
				
				li
					.number 1.3.
					.title Акція триватиме з 11.08.2014 (00:00:00 годин) по 10.09.2014 року (23:59:59 годин) включно, або до моменту реєстрації 1000 (тисячного) учасника (надалі – Строк проведення Акції).
				
				li
					.number 1.4.
					.title Акцію може бути подовжено за рішенням Організатора. 
				
				li
					.number 1.5.
					.title Доставка подарунків учасникам Акції триватиме до 10.10.2014 року включно.
				
				li.li_title
					.number 2.
					.title Місце проведення Акції
				
				li
					.number
					.title Акція проводиться на Інтернет-сторінці Організатора Акції http://agusha.com.ua (надалі – Сайт Акції).
				
				li.li_title
					.number 3.
					.title Мета проведення Акції
				
				li
					.number
					.title Мета Акції – просування бренду в мережі Інтернет, для популяризації серед споживачів та стимулювання збуту продукції під торгівельною маркою «Агуша», підтримання у споживачів обізнаності про товари бренду, розширення аудиторії користувачів Сайту, нагородження подарунками учасників Акції.
				
				li.li_title
					.number 4.
					.title Учасники Акції
				
				
				li
					.number 4.1.
					.title Учасниками Акції можуть бути дієздатні особи, що є громадянами України і проживають на території України віком від 18 (вісімнадцять) років, і які є батьками принаймні однієї дитини віком до 4-х років та/ або вагітні жінки (далі – «Учасник» або «Учасники»).
				
				li
					.number 4.2.
					.title Беручи участь в Акції, учасник підтверджує що належним чином ознайомлений та згоден з Офіційними Правилами  та згодні їх дотримуватися.
				
				li
					.number 4.3.
					.title В Акції забороняється брати участь дітям до 14 років, недієздатним особам, працівникам і представникам Організатора та Виконавця, пов’язаним з ними особами, членами сімей таких працівників і представників, а також працівникам і представникам будь-яких інших осіб, що мають безпосереднє відношення до організації або проведення даної Акції.
				
				li
					.number 4.4.
					.title Учасники Акції під час участі у Акції зобов’язуються:
				
				.sublist
					li
						.number
						.subnumber 4.4.1.
						.title дотримуватися вимог даних Правил та норм чинного законодавства України;
					
					li
						.number
						.subnumber 4.4.2.
						.title дотримуватися правил користування Сайтом;
					
					li
						.number
						.subnumber 4.4.3.
						.title надавати повні, коректні та достовірні відомості, вказані у даних Правилах;
					
					li
						.number
						.subnumber 4.4.4.
						.title свідомо не завдавати незручностей та не чинити перешкод іншим Учасникам Акції;
					
					li
						.number
						.subnumber 4.4.5.
						.title не чинити дій, що ставлять під сумнів правомірність участі Учасника у Акції.
				
				li.li_title.after_sublist 
					.number 5.
					.title Умови участі в Акції
				
				li
					.number 5.1.
					.title
					| Для того щоб взяти участь в Акції Учаснику Акції, що відповідає вимогам розділу 4 цих
					br
					| Правил, необхідно виконати наступну послідовність дій:
				
				.sublist
					li
						.number
						.subnumber 5.1.1
						.title
							| Протягом Строку проведення Акції зайти на Сайт Акції за адресою в мережі Інтернет 
							a.italic(href=base_url) http://agusha.com.ua
					
					li
						.number
						.subnumber 5.1.2.
						.title Заповнити форму реєстрації, залишивши свої персональні дані (ім’я, адреса електронної поштової скриньки).
					
					li
						.number
						.subnumber 5.1.3.
						.title Натиснути кнопку «Зареєструватися».
					
					li
						.number
						.subnumber 5.1.4.
						.title Зайти на свою електронну поштову скриньку та підтвердити реєстрацію, натиснувши на посилання в електронному листі.
					
					li
						.number
						.subnumber 5.1.5.
						.title Перейти за посиланням на Сайт Акції та заповнити повну реєстраційну форму (ПІБ, фактична адреса проживання, контактний номер телефону).
				
				li
					.number 5.2.
					.title Один і той самий учасник Акції може прийняти в ній участь лише один раз. У разі виявлення повторної реєстрації Учасника на Сайті, в т.ч. шляхом вказівки персональних даних, що уже зареєстровані на Сайті, такий Учасник Акції втрачає право на повторну участь у Акції, а, у разі визнання його Переможцем більш ніж один раз - здобуває право на отримання лише одного Подарунка.
				
				li.li_title
					.number 6.
					.title Фонд подарунків Акції
				
				li
					.number 6.1.
					.title Гарантований подарунковий комплект: бананове пюре протерте для дитячого харчування «Я сам!» пастеризоване т. зн. «Агуша», маса нетто 90 г – 1 шт.; грушове пюре протерте для дитячого харчування «Я сам!» пастеризоване т. зн. «Агуша», маса нетто 90 г – 1 шт.; яблучно-персикове пюре протерте для дитячого харчування «Я сам!» пастеризоване т. зн. «Агуша», маса нетто 90 г – 1 шт.; дитячий слинявчик брендований «Агуша» - 1 шт.
				
				li
					.number 6.2.
					.title Загальна кількість подарункових комплектів 1500 (одна тисяча п’ятсот) штук.
				
				li
					.number 6.3.
					.title Організатор Акції залишає за собою право змінити кількість, вид та порядок отримання  Подарунків Акції, про що буде повідомлено шляхом внесення змін до даних Правил. 
				
				li
					.number 6.4.
					.title Подарунки Акції можуть бути отримані Переможцями Акції, що здобули право на їх отримання, тільки на умовах цих Правил. Подарунки Акції можуть відрізнятися від зображень на рекламних матеріалах Акції.
				
				li.li_title
					.number 7.
					.title Порядок, умови та строки отримання права на Подарунок
				
				li
					.number 7.1.
					.title Учасники Акції, що увійшли до 1000 (однієї тисячі) Учасників Акції, які першими належним чином виконали умови даних Правил Акції, визнаються Переможцями Акції.
				
				li
					.number 7.2.
					.title Переможцями Акції також визнаються Учасники Акції, що їх обрано за результатом випадкового вибору, що проводиться за допомогою компютерної програми серед Учасників Акції, що не увійшли до 1000 (однієї тисячі) Учасників Акції, які першими належним чином виконали умови даних Правил Акції.
				
				li
					.number 7.3.
					.title Кожен Переможець Акції, здобуває право на отримання одного Подарунку, за винятком випадків, описаних у п. 7.10. даних Правил.
				
				li
					.number 7.4.
					.title З метою отримання Подарунку, Учасник зобов’язаний надати коректні контактні дані представнику Виконавця Акції.
				
				li
					.number 7.5.
					.title Доставка Подарунку здійснюватиметься за допомогою будь-якої служби доставки на розсуд Організатора або Виконавця Акції.
				
				li
					.number 7.6.
					.title Подарунок буде доставлено за вказаною Учасником адресою кур'єром. 
				
				li
					.number 7.7.
					.title У разі, якщо Учасник Акції проживає у регіоні України, де ведуться бойові дії, або не функціонують відділення обраної служби доставки, Подарунок буде доставлено після припинення бойових дій або після відновлення роботи відділень обраної служби доставки.
				
				li
					.number 7.8.
					.title Подарунок вважається врученим з моменту його передачі службі доставки.
				
				li
					.number 7.9.
					.title Учасники не можуть передавати право на отримання Подарунку будь-яким третім особам.
				
				li
					.number 7.10.
					.title Організатор Акції та Виконавець Акції разом та кожен окремо не несуть відповідальності за неможливість отримання Подарунку, а також у разі, якщо Учасник повідомив неточні, неправдиві дані. Жодна компенсація у такому випадку не передбачається.
				
				li
					.number 7.11.
					.title Переможець Акції  автоматично  втрачає  набуте  ним  право  на  отримання  Подарунку  без  будь  –  яких компенсацій, в тому числі грошової, у наступних випадках, не залежно від того у який час стали відомими вказані обставини:
				
				.sublist
					li
						.number
						.subnumber 7.11.1.
						.title якщо Переможця  Акції визнано Порушником до моменту вручення йому Подарунку;
					
					
					li
						.number
						.subnumber 7.11.2.
						.title у разі не можливості зв’язатися з Переможцем протягом двох місяців з моменту визнання його таким;
					
					li
						.number
						.subnumber 7.11.3.
						.title якщо Переможець Акції заявив про свою відмову від отримання Подарунку будь  –  яким зручним способом;
					
					li
						.number
						.subnumber 7.11.4.
						.title якщо  надані  Переможцем Акції персональні дані  не відповідають  вимогам  чинного  законодавства  України  та/або  даним  Правилам  та/або  є  не достовірними;
					
					li
						.number
						.subnumber 7.11.5.
						.title у разі не можливості ідентифікувати Переможця  Акції;
					
					li
						.number
						.subnumber 7.11.6.
						.title у разі не виконання/ не належного виконання умов даних Правил.
				
				li.li_title.after_sublist 
					.number 8.
					.title Порядок і спосіб інформування Учасників Акції про Правила
				
				li
					.number 8.1.
					.title
					| Інформування Учасників проводиться шляхом розміщення Правил Акції у глобальній мережі Інтернет за адресою: 
					a.italic(href=base_url) http://agusha.com.ua.
				
				li.li_title
					.number 9.
					.title Персональні дані
				
				li
					.number 9.1.
					.title Беручи участь у Акції, Учасник Акції розуміє та погоджується з тим, що будь-яка добровільно надана ним інформація, у тому числі персональні дані Учасника Акції, можуть збиратися, використовуватися, оброблятися, реєструватися та зберігатися Організатором Акції з метою інформування такого Учасника Акції про результати визначення Переможців Акції, надсилання інформаційних матеріалів Організатора Акції, вручення Подарунків Акції, а також на інші цілі, визначені даними Правилами.
				
				li
					.number 9.2.
					.title З моменту прийняття умов даних Правил, шляхом проставляння Учасником Акції електронної відмітки та/або вчинення інших дій, що свідчать про участь у Акції, згода з  умовами  даних  Правил  та  згода  на  обробку  персональних  даних  вважається  наданою  відповідним Учасником Акції у відповідності до вимог законодавства України. Учасник Акції, що не погоджується з умовами даних Правил та/або відмовилася від надання згоди на обробку його персональних даних втрачає право на подальшу учать у Акції.
				
				li
					.number 9.3.
					.title Обробка даних Організатором або Виконавцем здійснюється за допомогою способів, що забезпечують конфіденційність таких даних.
				
				li
					.number 9.4.
					.title Володільцем персональних даних Учасників Акції є Організатор Акції. Беручи участь в Акції, кожен Учасник Акції тим самим підтверджує, що він проінформований про свої права визначені чинним законодавством.
				
				li
					.number 9.5.
					.title Організатор та Виконавець Акції зобов'язуються не розголошувати персональні дані Учасників Акції особам, які не беруть участь в організації Акції або доставки Подарунків.
				
				li.li_title
					.number 10.
					.title Обмеження
				
				li
					.number 10.1.
					.title Учасник, що викритий у навмисному перекручуванні реєстраційних даних (своїх або чужих), фальсифікації результатів Акції, використання Сайту не за призначенням або спробі незаконного отримання Подарунку з використанням технічних або будь-яких інших засобів, за одноособовим рішенням Виконавця/Організатора дискваліфікується та не приймає подальшої участі в Акції. Якщо при цьому його дії містять ознаки злочину або іншим чином порушують законодавство України, інформація про нього може бути передана в правоохоронні органи.
				
				li
					.number 10.2.
					.title У разі виявлення Організатором/Виконавцем Акції протиправних дій з боку будь – якої особи/Учасника Акції, в тому числі ознак систематичного порушення даних Правил, Організатор/Виконавець Акції має право усунути Учасника від подальшої участі у Акції, та/або прийняти рішення щодо автоматичного блокування IP - адреси відповідного Учасника Акції на власний розсуд. Заблокований аккаунт може  бути поновлений виключно за  особистим обґрунтованим поясненням такого Учасника Акції Організатору/Виконавцю Акції. Організатор/Виконавець Акції залишає за собою право визначати які саме дії є протиправними та які пояснення є обґрунтованими.
				
				li
					.number 10.3.
					.title Учасник Акції, що вчинив протиправні дії та/або порушив умови даних Правил визнається Порушником.
				
				li
					.number 10.4.
					.title При порушенні Учасником Акції якого-небудь з пунктів даних Правил Організатор/Виконавець Акції має право на свій розсуд блокувати доступ такого Учасника Акції до Сайту, відмовивши йому у праві на подальше використання сервісів Сайту Акції.
				
				li
					.number 10.5
					.title У випадку порушення Учасником Акції обов’язків, вказаних у даних Правилах, що викликало виникнення у Організатора та\або Виконавця Акції збитків, Учасник Акції зобов’язаний відшкодувати такі збитки у повному обсязі.
				
				li
					.number 10.6.
					.title Учасники Акції діють особисто, від свого імені, добровільно і самостійно. Учасники Акції беруть на себе всі ризики відповідальності і наслідків, пов'язаних з можливою участю в Акції та отриманням Подарунків Акції.
				
				li
					.number 10.7.
					.title Заміна Подарунків, в т.ч. грошовим еквівалентом або будь-яким іншим благом не допускається. Подарунки обміну та поверненню не підлягають.
				
				li
					.number 10.8.
					.title Організатор Акції та Виконавець Акції не несуть відповідальності за невручення Подарунків у випадку, якщо Переможець не скористався правом на отримання Подарунку у строки й порядку, передбаченими цими Правилами. Подарунки вручаються тільки за умови виконання всіх вимог, які передбачені цими Правилами.
				
				li
					.number 10.9
					.title Організатор Акції та Виконавець Акції разом та кожен окремо не несуть відповідальності за порушення строків та умов проведення Акції та/або за невручення Подарунків у разі настання форс-мажорних обставин, таких як стихійні лиха, пожежа, повінь, військові дії будь-якого характеру, блокади, суттєві зміни у законодавстві, що діє на території проведення Акції, інші непідвладні контролю з боку Організатора Акції та/або Виконавця Акції таких обставин.
				
				li
					.number 10.10.
					.title Організатор Акції та Виконавець Акції разом та кожен окремо не несуть відповідальності стосовно подальшого використання наданих подарунків Переможцями Акції, після їх одержання та якість послуг служби доставки.
				
				li
					.number 10.11.
					.title Отримання Подарунків передбачено тільки Переможцями Акції, та не може розглядатися як грошове зобов’язання. Не допускаються будь-які дії, операції, угоди, де Подарунок буде предметом угоди.
				
				li
					.number 10.12.
					.title Переможці Акції мають право відмовитися від Подарунку.
				
				li
					.number 10.13.
					.title Подарунки, від отримання яких Переможці відмовились, Організатор Акції та Виконавець Акції використовують на власний розсуд.
				
				li
					.number 10.14.
					.title Організатор/Виконавець не компенсує Учасникам Акції вартість послуг операторів, що надають доступ в Інтернет, та не несе відповідальність за збої в їх роботі. Організатор/Виконавець Акції не несе відповідальність і не робить виплат у разі втрати будь-якої інформації, пов'язаної з сервісами Сайту Акції і представляє цінність для Учасника Акції, якщо така втрата сталася в результаті збою в роботі оператора зв'язку, відключення електроенергії і т.п. Організатор/Виконавець Акції не несе відповідальність за будь-які витрати, втрати або збиток, пред'явлені Організатору/Змовнику Акції та що мали місце в результаті зловживання сервісами Сайту Акції або порушення даних Правил будь-яким Учасником Акції. Учасник Акції також погоджується з тим, що Організатор/Виконавець Акції не несе відповідальність за прямі або непрямі збитки (навіть у тому випадку, якщо Організатор Акції був попереджений про можливість збитку), зокрема за втрату прибутку, втрату репутації, втрату даних, нематеріальний збиток і витрати, які були понесені внаслідок:
				
				.sublist
					li
						.number
						.subnumber 1)
						.title використання або неможливості використання Сайту Акції;
					
					li
						.number
						.subnumber 2)
						.title незаконного доступу до інформації, розміщеної на Сайті Акції, її зміни і пересилання;
					
					li
						.number
						.subnumber 3)
						.title поведінки третіх осіб, що використовують Сайт Акції.
				
				li
					.number 10.15.
					.title У разі виникнення обставин непереборної сили (пожежа, повінь, землетрус, війни локального або глобального масштабу, відключення електроенергії, епідемії), бо у разі настання інших не передбачуваних обставин, що перешкоджають організації роботи Сайту Акції, Організатор/Виконавець Акції залишає за собою право без попередження припинити роботу Сайту Акції повністю або будь-якої його частини.
				
				li
					.number 10.16.
					.title Всі авторські права, права на використання торгової марки та інші права на інтелектуальну власність, пов'язані з Сайтом, належать Організатору Акції та / або його ліцензіарам. Крім права використання Сайту, обмеженого даними умовами, жодних інших прав, пов'язаних з використанням Сайту, Учасники Акції не отримують.
				
				li
					.number 10.17.
					.title Дозволяється друкувати/пересилати інформацію та зміст Сайту Акції тільки в особистих, некомерційних цілях.
				
				li
					.number 10.18.
					.title Приймаючи участь у Акції, Учасник Акції не  вносить ніякої плати, пов’язаної з участю у Акції. Фонд Подарунків Акції не формується з внесків Учасників Акції. Організатор/Виконавець Акції не отримують винагороду від Учасників Акції за їх участь в Акції. Акції не є азартною грою, лотереєю, послугою у сфері грального бізнесу чи конкурсом, а ці Правила не є публічною обіцянкою винагороди чи умовами конкурсу.
				
				li
					.number 10.19.
					.title Організатор/Виконавець Акції залишають за собою право не вступати в письмові переговори або інші контакти з Учасниками Акції, окрім випадків, передбачених цими Правилами.
				
				li
					.number 10.20.
					.title Організатор/Виконавець Акції не вступають в будь-які суперечки стосовно визнання будь-яких осіб Учасниками/Переможцями Акції і стосовно прав на отримання Подарунків Акції.
				
				li.li_title
					.number 11.
					.title Інші умови
				
				li
					.number 11.1.
					.title Всі результати Акції та/або рішення Виконавця є остаточними і оскарженню не підлягають.
				
				li
					.number 11.2.
					.title У випадку виникнення ситуації, що припускає неоднозначне тлумачення цих Правил, не врегульованих цими Правилами, остаточне рішення приймається Виконавцем Акції та оскарженню не підлягає.
				
				li
					.number 11.3.
					.title
					| Організатор Акції має право вносити будь-які зміни та/або доповнення в ці Правила, в тому числі змінювати строки дії Акції, шляхом розміщення додаткової інформації на сайті 
					a.italic(href=base_url) http://agusha.com.ua.
				
				li
					.number 11.4.
					.title
						| Усі питання, побажання та зауваження, пов’язані з проведенням Акції, надсилати на електронну поштову скриньку 
						span.italic contact@agusha.com.ua

block append scripts
	