@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';

.content {
	margin-bottom: 50px;
	
	.topper {
		height: 240px;
		
		.label {
			font-size: 65px;
			line-height: 65px;
		}
		
		.desc {
			font-size: 112.5%;
		}
	}
	
	.map {
		img {
			max-width: 100%;
			margin-bottom: 42px;
		}
	}
	
	.label.green_font {
		margin-bottom: 30px;
	}
	
	.footer {
		height: 238px;
	}
	
	.inputs {
		height: 158px;
		
		.content {
			height: 100%;
			margin: 0;
		}
		
		.right {
			.input {
				margin-left: 40px;
			}
		}
		
		.left {
			.input {
				margin-right: 40px;
			}
		}
	}
	
	.submit {
		height: 80px;
	}
}