extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/production/production.css")

block append content
	#production.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		include ../../helpers/user/join_tour_full/join_tour_full
		
		.production_container.white
			.production_arrows
				.half.left
					.adorable_table
						.adorable_cell
				
				.half.right
					.adorable_table
						.adorable_cell
			
			.production_block.production_1.active
				.production_bg
					img(src="/img/user/production/production_bg_1.jpg")
				
				.label.novito_nova.production_title Производство в украине
				
				.production_circle_container
					.production_circle.rounded.opened
					.production_content.rounded.border_boxed.left.adorable_table.opened
						.adorable_cell
							.label.novito_nova
								| Открылся в апреле
								br
								| 2012 года
							
							.text «Заводу Агуша» всего 2 годика. Он открылся в впреле 2012 года, в живописном местечке со вкусным названием - в городе Вишневое Киевской области.
				
				.production_circle_container
					.production_circle.rounded.tech
					.production_content.rounded.border_boxed.right.adorable_table.tech
						.adorable_cell
							.label.novito_nova
								| Высокие
								br
								| технологии
							
							.text «Агуша» - одно из самых современных и высокотехнологичных производств детского питания в Украине. Мощности нашего производства позволяют перерабатывать 50 тонн молока в сутки и быть уверенным в каждом грамме выпускаемой продукции.
								
			
			.production_block.production_2
				.production_bg
					img(src="/img/user/production/production_bg_2.jpg")
				
				.label.novito_nova.production_title Только для детей
				
				.production_circle_container
					.production_circle.rounded.baby
					.production_content.rounded.border_boxed.left.adorable_table.baby
						.adorable_cell
							.label.novito_nova
								| Детское-предетское
								br
								| питание
							
							.text
				
				.production_circle_container
					.production_circle.rounded.vitamins
					.production_content.rounded.border_boxed.right.adorable_table.vitamins
						.adorable_cell
							.label.novito_nova
								| ВИТАМИНЫ
								br
								| И ПРЕБИОТИКИ
							
							.text
			
			.production_block.production_3
				.production_bg
					img(src="/img/user/production/production_bg_3.jpg")
				
				.label.novito_nova.production_title Вкусно и полезно
				
				.production_circle_container
					.production_circle.rounded.suppliers
					.production_content.rounded.border_boxed.left.adorable_table.suppliers
						.adorable_cell
							.label.novito_nova
								| Наши
								br
								| поставщики
							
							.text
				
				.production_circle_container
					.production_circle.rounded.milk
					.production_content.rounded.border_boxed.left.adorable_table.milk
						.adorable_cell
							.label.novito_nova
								| Молочко
								br
								| экстра-класса
							
							.text
				
				.production_circle_container
					.production_circle.rounded.fruits
					.production_content.rounded.border_boxed.right.adorable_table.fruits
						.adorable_cell
							.label.novito_nova
								| Фруктовые
								br
								| наполнители
							
							.text
			
			.production_block.production_4
				.production_bg
					img(src="/img/user/production/production_bg_4.jpg")
				
				.label.novito_nova.production_title Качество гарантировано
				
				.production_circle_container
					.production_circle.rounded.norm
					.production_content.rounded.border_boxed.left.adorable_table.norm
						.adorable_cell
							.label.novito_nova
								| Соответствует 
								br
								| всем нормам
							
							.text
				
				.production_circle_container
					.production_circle.rounded.check
					.production_content.rounded.border_boxed.right.adorable_table.check
						.adorable_cell
							.label.novito_nova
								| Подвергается  
								br
								| тщательной
								br
								| проверке
							
							.text
				
				.production_circle_container
					.production_circle.rounded.safe
					.production_content.rounded.border_boxed.right.adorable_table.safe
						.adorable_cell
							.label.novito_nova
								| Удобство и
								br
								| безопасность
							
							.text
		
		.production_navigator.darkblue.adorable_table
			.adorable_cell
				button.middle_button.production_button.production_1.active(data-production=1) Производство
				button.middle_button.production_button.production_2(data-production=2) Только для детей
				button.middle_button.production_button.production_3(data-production=3) Вкусно и полезно
				button.middle_button.production_button.production_4(data-production=4) Качество гарантировано

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/user/production/production.js")