extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/production/production.css")

block append content
	#production.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.production_topper.green
			.top
				.adorable_table
					.adorable_cell
						.top_text
							| Мы гордимся нашим «Заводом Агуша» и абсолютно уверены в качестве
							br
							| выпускаемой продукции.
						.label.novito_nova Запишитесь на бесплатную экскурсию
						.bottom_text Узнайте больше о полезных, вкусных и действительно детских продуктах «Агуша»!
					
			
			.bottom.darkgreen
				.adorable_table
					.adorable_cell
						a(href="/tour")
							button.middle_button Хочу на экскурсию
		
		.production_container.white
			.production_arrows
				.half.left
					.adorable_table
						.adorable_cell <
				
				.half.right
					.adorable_table
						.adorable_cell >
			
			.production_block.production_1.active
				.production_bg
					img(src="/img/user/production/production_bg_1.jpg")
			
			.production_block.production_2
				.production_bg
					img(src="/img/user/production/production_bg_2.jpg")
			
			.production_block.production_3
				.production_bg
					img(src="/img/user/production/production_bg_3.jpg")
			
			.production_block.production_4
				.production_bg
					img(src="/img/user/production/production_bg_4.jpg")
		
		.production_navigator.darkblue.adorable_table
			.adorable_cell
				button.middle_button.production_button.production_1.active(data-production=1) Производство
				button.middle_button.production_button.production_2(data-production=2) Только для детей
				button.middle_button.production_button.production_3(data-production=3) Вкусно и полезно
				button.middle_button.production_button.production_4(data-production=4) Качество гарантировано

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/user/production/production.js")