@import "../normalize/normalize";

$small_screen: 1280px;
$min_width: 1016px;
$hfheight: 80px;
$line_height: 1.3em;
$content_right: 11.7%;
$content_padding: 0 11.7%;

body {
	@extend .base_font;
	font-family: "PT_Sans_Regular", sans-serif;
	font-size: 14px;
	background-color: $bg;
	@media (max-width: $small_screen) {
		width: 100%;
	}
	@media (min-width: $small_screen) {
		@include absolute_horizontal_centered;
		width: 1280px;
	}
	@media (max-width: $min_width) {
		width: $min_width;
	}
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#header {
	height: $hfheight;
	position: relative;
	
	.menu {
		text-align: center;
		
		.menu_block {
			width: 25%;
			height: 100%;
			position: relative;
			display: inline-block;
		}
	}
}

#footer {
	height: $hfheight;
	position: relative;
	margin-top: 13px;
	font-size: 75%;
	
	.content {
		@include absolute_horizontal_centered;
		width: 76.6%;
		height: 100%;
	}
	
	#copyright {
		float: left;
		width: 25%;
		height: 100%;
		
		.adorable_cell {
			text-align: left;
		}
	}
	
	.menu {
		text-align: center;
		float: left;
		height: 100%;
		width: 70%;
		
		.menu_block {
			width: 16.6%;
			height: 100%;
			position: relative;
			display: inline-block;
		}
	}
	
	#marker {
		float: left;
		width: 5%;
		height: 100%;
		
		.item {
			width: 34px;
			height: 34px;
			background-color: #f7f7f7;
			display: inline-block;
		}
	}
}

#logo {
	@include absolute_horizontal_centered;
	height: 156px;
    width: 170px;
    z-index: 30;
	
	img {
		width: 100%;
		height: 100%;
	}
}

.half {
	float: left;
	width: 50%;
	height: 100%;
}

.new_items {
	position: absolute;
	min-width: $line_height;
	height: $line_height;
	right: 6%;
    top: 16%;
	font-size: 87.5%;
}

#contacts {
	.darkblue_font {
		font-size: 112.5%;
	}
	
	.italic_font {
		font-size: 62.5%;
	}
}

.bottom_wave {
	position: absolute;
	bottom: -13px;
	width: 100%;
	height: 13px;
	background-image: url('/img/user/wave_border_bottom.png');
	z-index: 20;
}

.top_wave {
	position: absolute;
	top: -13px;
	width: 100%;
	height: 13px;
	background-image: url('/img/user/wave_border_top.png');
	z-index: 20;
}

.top_label {
	text-transform: uppercase;
	font-size: 125%;
	padding: 5px;
}

.label {
	font-size: 60px;
	line-height: 60px;
	padding: 5px;
}