$small_screen: 1280px;
$hfheight: 80px;

body {
	@extend .base_font;
	font-family: "PT_Sans_Regular";
	font-size: 14px;
	background-color: $bg;
	@media (max-width: $small_screen) {
		width: 100%;
	}
	@media (min-width: $small_screen) {
		@include horizontal_centered();
		width: 1280px;
	}
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#header {
	height: $hfheight;
}

#footer {
	height: $hfheight;
}

.half {
	float: left;
	width: 50%;
	height: 100%;
}

.menu {
	text-align: center;
	
	.menu_block {
		width: 25%;
		height: 100%;
	}
}