$blue: #4bc4ee;
$darkblue: #45b4e8;
$verydarkblue: #105ba6;
$lightblue: #61e5f9;
$yellow: #ffe690;
$brown: #9b7155;
$red: #ff9486;
$darkred: #e6625f;
$lightred: #ffa598;
$green: #71db96;
$darkgreen: #64cb81;
$white: #ffffff;
$bg: #f2eeeb;
$light: #999999;

.blue {
	background-color: $blue;
	color: $white;
}

.darkblue {
	background-color: $darkblue;
	color: $white;
}

.lightblue {
	background-color: $lightblue;
	color: $verydarkblue;
}

.yellow {
	background-color: $yellow;
	color: $brown;
}

.red {
	background-color: $red;
	color: $brown;
}

.darkred {
	background-color: $darkred;
	color: $white;
}

.lightred {
	background-color: $lightred;
	color: $white;
}

.white {
	background-color: $white;
}

.green {
	background-color: $green;
	color: $white;
}

.darkgreen {
	background-color: $darkgreen;
	color: $white;
}