@font-face {
    font-family: 'Novito_Nova';
    src: url('/css/fonts/novito_nova.eot');
    src: url('/css/fonts/novito_nova.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/novito_nova.woff') format('woff'),
         url('/css/fonts/novito_nova.ttf') format('truetype'),
         url('/css/fonts/novito_nova.svg#Novito_Nova') format('svg');
    font-weight:400;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Regular';
    src: url('/css/fonts/pt_sans.eot');
    src: url('/css/fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/pt_sans.woff') format('woff'),
         url('/css/fonts/pt_sans.ttf') format('truetype'),
         url('/css/fonts/pt_sans.svg#PT_Sans_Regular') format('svg');
    font-weight:400;
    font-style: normal;
}

.novito_nova {
	font-family: "Novito_Nova";
}