@font-face {
    font-family: 'Novito_Nova_Thin';
    src: url('/css/fonts/Novito_Nova_Thin.eot');
    src: url('/css/fonts/Novito_Nova_Thin.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Novito_Nova_Thin.woff') format('woff'),
         url('/css/fonts/Novito_Nova_Thin.ttf') format('truetype'),
         url('/css/fonts/Novito_Nova_Thin.svg#novito_nova_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Regular';
    src: url('/css/fonts/PT_Sans.eot');
    src: url('/css/fonts/PT_Sans.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/PT_Sans.woff') format('woff'),
         url('/css/fonts/PT_Sans.ttf') format('truetype'),
         url('/css/fonts/PT_Sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.novito_nova {
	font-family: "Novito_Nova_Thin";
	letter-spacing: 2px;
}

.italic_font {
	color: #b3b3b3;
	font-style: italic;
}

.darkblue_font {
	color: $darkblue;
}