extends ../layout

block append header
	

block append content
	form(action="/registration/register")
		input(type="text", name="login", placeholder="Ваше имя и фамилия")
		input(type="email", name="email", placeholder="Ваш e-mail")
		input(type="submit", value="Зарегистрироваться")
	
	if err
		| #{err}

block append scripts
	