extends ../layout

block append header
	

block append content
	form#registration_form(method="POST", action="/registration/register")
		input(type="text", name="login", placeholder="Ваше имя и фамилия")
		span.error
		input(type="email", name="email", placeholder="Ваш e-mail")
		span.error
		button(type="submit") Зарегистрироваться
	
	if err
		.error
			| #{err}

block append scripts
	script(src="/js/plugins/validate/jquery.validate.js")
	script(src="/js/user/registration/registration.js")