extends ../layout

block append header
	

block append content
	div Регистрация прошла успешно. Пригласите еще и Ваших друзей.
	form#invite_form(action="/registration/invite")
		if invited_by
			input(type="hidden", name="invited_by", value="#{invited_by}")
		
		- for (var i = 0; i < 2; i++)
			div.invite_item
				input(type="text", name="client[#{i}][login]", placeholder="Как зовут друга")
				span.error
				input(type="email", name="client[#{i}][email]", placeholder="E-mail друга")
				span.error
		
		button(type="submit") Отправить
	
	if err
		.error
			| #{err}

block append scripts
	script(src="/js/plugins/validate/jquery.validate.js")
	script(src="/js/user/registration/invite.js")