extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/news/news.css")

block append content
	#news.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		

block append scripts
	