@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';

.content {
	margin-bottom: 70px;
}

#product_container {
	min-height: 680px;
	background: $white;
	overflow: hidden;
}

.product_left {
	float: left;
	width: 57%;
	background-color: $el_bg;
	padding: 40px 40px 0 40px;
	min-height: 680px;
	position: relative;
	
	.label {
		margin-bottom: 20px;
		padding: 0;
		color: $darkblue;
		letter-spacing: -0.5px;
		line-height: 50px;
	}
	
	.text_label {
		text-transform: uppercase;
		color: $blue;
		font-family: 'PT_Sans_Bold';
	}
	
	.text {
		margin-bottom: 25px;
		
		&:last-child {
			margin-bottom: 220px;
		}
	}
	
	.certificates_container {
		bottom: 133px;
		position: absolute;
	}
	
	.certificate {
		width: 45px;
		height: 45px;
		line-height: 0;
		margin-right: 25px;
		float: left;
		
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	
	.left_button {
		bottom: 0;
		height: 133px;
		position: absolute;
		
		.adorable_cell {
			text-align: left;
		}
		
		button {
			font-size: 100%;
			font-family: 'PT_Sans_Bold';
			padding: 10px 20px;
		}
	}
}

.product_right {
	float: left;
	width: 43%;
	min-height: 680px;
	position: relative;
	
	.right_image {
		height: 500px;
		position: relative;
		
		img {
			@include absolute_horizontal_centered;
			top: 78px;
			max-height: 421px;
			max-width: 421px;
		}
	}
	
	.right_footer {
		height: 180px;
		position: absolute;
		bottom: 0;
		width: 100%;
		
		.top {
			font-size: 112.5%;
			color: $blue;
			font-family: 'PT_Sans_Bold';
		}
		
		.bottom {
			font-size: 93%;
		}
		
		&:before {
			@include pseudo;
			@include absolute_centered;
			height: 48px;
			width: 1px;
			background-color: $base;
		}
	}
	
	.half {
		&.left {
			.adorable_cell {
				padding-left: 50px;
			}
		}
		
		&.right {
			.adorable_cell {
				padding-right: 50px;
			}
		}
	}
}