.content
	#copyright.adorable_table
		.adorable_cell © 2014 Вимм-Билль-Данн
	
	#marker.adorable_table
		.adorable_cell
			span.item.rounded &nbsp;
	
	ul#footer_menu.menu
		li.menu_block
			.adorable_table
				.adorable_cell Продукты Агуша
		
		li.menu_block
			.adorable_table
				.adorable_cell О "Заводе Агуша"
		
		li.menu_block
			.adorable_table
				.adorable_cell Запись на экскурсию
		
		li.menu_block
			.adorable_table
				.adorable_cell Видео
		
		li.menu_block
			.adorable_table
				.adorable_cell О детском питании
		
		li.menu_block
			.adorable_table
				.adorable_cell Что новенького

.top_wave