#header.white
	.layout_inside
		ul.half.menu.left
			li.menu_block
				.adorable_table
					.adorable_cell
						a(href="/products")
							span Продукты Агуша
			
			li.menu_block.dropdown_container
				.adorable_table
					.adorable_cell
						a(href="/production")
							span О производстве 
							//img(src="/img/user/arrow_down.png")
				
				.topper_dropdown.dropdown
					.dropdown_panel
						.dropdown_item
							a(href="/production")
								.adorable_table
									.adorable_cell О «Заводе Агуша»
						.dropdown_item
							a(href="/tour")
								.adorable_table
									.adorable_cell Запись на экскурсию
						.dropdown_item
							a(href="#")
								.adorable_table
									.adorable_cell Видос про завод
			
			li.menu_block.dropdown_container.before_logo
				.adorable_table
					.adorable_cell
						a(href="/food")
							span О детском питании 
							//img(src="/img/user/arrow_down.png")
				
				.topper_dropdown.dropdown
					.dropdown_panel
						.dropdown_item
							a(href="/feeding_up")
								.adorable_table
									.adorable_cell Основы прикорма
						
						- if (topper_menu && topper_menu.food.length)
							- each item, key in topper_menu.food
								.dropdown_item
									a(href = '/article/' + item._id)
										.adorable_table
											.adorable_cell #{strip_tags(item.desc_title)}
			
		ul.half.menu.right
			li.menu_block.after_logo
				.adorable_table
					.adorable_cell
						a(href="/news")
							span Что новенького
							//.new_items.rounded.darkred 2
			
			li.menu_block
				.adorable_table
					.adorable_cell
						a(href="/contacts")
							span Контакты
			
			li.menu_block
				.adorable_table
					#contacts.adorable_cell
						.darkblue_font 0 800 307 302
						.italic_font Звонок по Украине бесплатный

		#logo.inline_adorable_container
			a(href='/')
				img.adorable(src="/img/user/logo.png")

	.bottom_wave