#header.white
	.layout_inside
		ul.half.menu.left
			li.menu_block
				.adorable_table
					.adorable_cell
						a(href="/products")
							span Продукты Агуша
			
			li.menu_block
				.adorable_table
					.adorable_cell
						a(href="/production")
							span О производстве 
							//img(src="/img/user/arrow_down.png")
			
			li.menu_block.before_logo
				.adorable_table
					.adorable_cell
						a(href="/food")
							span О детском питании 
							//img(src="/img/user/arrow_down.png")
			
		ul.half.menu.right
			li.menu_block.after_logo
				.adorable_table
					.adorable_cell
						a(href="/news")
							span Что новенького
							//.new_items.rounded.darkred 2
			
			li.menu_block
				.adorable_table
					.adorable_cell
						a(href="/contacts")
							span Контакты
			
			li.menu_block
				.adorable_table
					#contacts.adorable_cell
						.darkblue_font 0 800 307 302
						.italic_font Звонок по Украине бесплатный

		#logo.inline_adorable_container
			a(href='/')
				img.adorable(src="/img/user/logo.png")

	.bottom_wave