ul.half.menu
	li.menu_block
		.adorable_table
			.adorable_cell Продукты Агуша
	
	li.menu_block
		.adorable_table
			.adorable_cell
				| О производстве 
				img(src="/img/user/arrow_down.png")
	
	li.menu_block
		.adorable_table
			.adorable_cell
				| О детском питании 
				img(src="/img/user/arrow_down.png")
	
ul.half.menu
	li.menu_block
		.adorable_table
			.adorable_cell
				| Что новенького
				.new_items.rounded.darkred 2
	
	li.menu_block
		.adorable_table
			.adorable_cell Контакты
	
	li.menu_block
		.adorable_table
			#contacts.adorable_cell
				.darkblue_font 0 800 307 302
				.italic_font Звонок по Украине бесплатный

#logo
	img(src="/img/user/logo.png")

.bottom_wave