extends layout

block append header
	

block content
	#slider_container.slider.darkblue
		.slides(u='slides')
			div
				img(src='/img/user/banner/banner_1_1.png')
				.text
					.adorable_table
						.adorable_cell
							.top_label
								| 
							.label.novito_nova
								| «Завод Агуша» -
								br
								| только детское
								br
								| питание
							a.link.lightblue_font(href="#")
								| Вкусное-полезное
					
			
			div
				img(src='/img/user/banner/banner_1_2.png')
				.text
					.adorable_table
						.adorable_cell
							.top_label
								| Заявляем смело:
							.label.novito_nova
								| Для «Агуши»
								br
								| молоко только
								br
								| екстра-класса
							a.link.lightblue_font(href="#")
								| Что это значит?
					
			
			div
				img(src='/img/user/banner/banner_1_3.png')
				.text
					.adorable_table
						.adorable_cell
							.top_label
								| Наша лаборатория
							.label.novito_nova
								| Проверяет продукт
								br
								| на всех этапах
								br
								| производства
							a.link.lightblue_font(href="#") Насколько
								br
								| тщательно?
				
			div
				img(src='/img/user/banner/banner_1_4.png')
				.text
					.adorable_table
						.adorable_cell
							.top_label
								| Исключительно
							.label.novito_nova
								| Вкусное,
								br
								| полезное и
								br
								| безопасное
							a.link.lightblue_font(href="#")
								| Все и сразу?
			
			div
				img(src='/img/user/banner/banner_1_5.png')
				.text
					.adorable_table
						.adorable_cell
							.top_label
								| Новый
								br
								| йогурт со злаками
							.label.novito_nova
								| Польза молока
								br
								| и злаков в одной
								br
								| бутылочке
							a.link.lightblue_font(href="#")
								| Это вкусно?
		
		.jssorb12(u='navigator')
			div(u='prototype', class='prototype rounded ')
		span(u='arrowleft', class='jssora21l ')
		span(u='arrowright', class='jssora21r ')
		
		include ../helpers/user/live_program/live_program
		include ../helpers/user/join_tour/join_tour
	
	.content
		.left.border_boxed.white
			.content_block
				.adorable_table
					.adorable_cell
						.top_label А у нас
						.label.novito_nova.dark_font
							| Сегодня
							br
							| в меню
						button.blue Еще
			
			.content_block
				.adorable_table
					.adorable_cell
						img.product_img(src="/img/user/main/juice.png")
						.product_label
							| Фруктовые
							br
							| соки
			
			.content_block
				.adorable_table
					.adorable_cell
						img.product_img(src="/img/user/main/yogurt.png")
						.product_label
							| Детские
							br
							| йогурты
			
			.content_block
				.adorable_table
					.adorable_cell
						img.product_img(src="/img/user/main/curd.png")
						.product_label
							| Детские
							br
							| творожки
			
		.right.border_boxed.green.adorable_table
			.adorable_cell
				.label.novito_nova
					| Что малышу
					br
					| для счастья надо?
				
				.top_label
					| Узнайте через
				
				.count
					.number
						span 1
					.number
						span 2
					.number
						span 6
					
				.top_label
					| Дней
				
				button.middle_button.yellow Зарегистрироваться

block append scripts
	script(src="/js/plugins/slider/jssor.core.js")
	script(src="/js/plugins/slider/jssor.utils.js")
	script(src="/js/plugins/slider/jssor.slider.js")
	script(src="/js/user/main.js")