extends layout

block append header
	

block content
	button.blue.middle_button yo
	button.yellow yo
	button.red.huge_button yo
	#slider_container
		div(u='slides')
			div
				img(u='image', src='/img/user/banner/banner_1_1.png')
			div
				img(u='image', src='/img/user/banner/banner_1_1.png')

block append scripts
	script(src="/js/plugins/slider/jssor.slider.mini.js")