doctype html
html(lang="ru")
	head
		block header
			meta(charset="UTF-8")
			title= "Агуша"
			link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
	
	body
		include header
		
		block before_main
		
		#main_container
			block content
		
		include footer
		
		block scripts
			script(src="/js/jquery.min.js")
			script(src="/js/user/core.js")