doctype html
html(lang="ru")
	head
		block header
			meta(charset="UTF-8")
			title= "Агуша"
			link(rel="stylesheet" href="/css/normalize/normalize.css")
			link(rel="stylesheet" href="/css/user/main.css")
	
	body
		#header
		
		#main_container
			block content
		
		#footer
		
		block scripts
			script(src="/js/jquery.min.js")