| Здравствуйте, #{surname} #{name} #{patronymic}!
br
br
| Вы зарегистрировались на agusha.com.ua и по результатам акции «Первая 1000» получаете вкусный и полезный подарок для вашего малыша от ТМ «Агуша».
br
br
| Мы уже отправили подарок и уведомление на ваш телефон о том, что он доставлен и дожидается вас. Забрать его можно в отделении курьерской службы «Новая почта» до 21.10.2014 г. включительно. 
br
br
| В отделении «Новая почта» без доплаты посылки хранятся не более 5 дней после отправки уведомления о доставке на мобильный телефон. Но мы сделали так, что до 21.10.2014 г. вы сможете забрать ваш подарок абсолютно бесплатно. Поторопитесь!