@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/message';

#signup {
	margin-bottom: 50px;
	
	a {
		text-decoration: none;
	}
	
	.topper {
		height: 240px;
		
		.desc {
			font-size: 112.5%;
		}
	}
	
	.pentagon .label {
		margin-bottom: 15px;
	}
	
	.map {
		margin-bottom: 16px;
		
		img {
			max-width: 100%;
		}
	}
	
	.map_container {
		margin: auto;
		width: 944px;
		height: 654px;
		position: relative;
	}
	
	.action_button {
		margin: auto;
		display: block;
		margin-bottom: 25px;
		color: white;
		background: #7dd495;
		text-transform: uppercase;
		font-size: 100%;
		font-family: 'PT_Sans_Bold';
		padding: 10px 25px;
		
		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
	
	.rules {
		display: inline-block;
	}
	
	.new_1000 {
		font-size: 30px;
		line-height: 30px;
		color: #4c4c4c;
		letter-spacing: 1.4px;
	}
	
	.prize {
		margin: auto;
		display: block;
		margin-bottom: 48px;
	}
	
	.white {
		text-align: center;
		
		.top_label {
			font-size: 112.5%;
			margin-bottom: 5px;
		}
	}
	
	.label.green_font {
		margin-bottom: 30px;
	}
	
	.inputs {
		height: 158px;
		
		input {
			margin: 0;
		}
		
		.content {
			height: 100%;
			margin: 0;
		}
		
		.right {
			.input {
				margin-left: 40px;
			}
		}
		
		.left {
			.input {
				margin-right: 40px;
			}
		}
		
		label.error {
			top: -70px;
			font-size: 14px;
		}
	}
	
	.submit {
		height: 80px;
		
		.middle_button {
			font-size: 100%;
			
			&:active {
				color: rgba(100, 203, 129, 0.5);
			}
		}
	}
	
	.thanks {
		height: 237px;
		
		.label {
			font-size: 66px;
			line-height: 66px;
		}
	}
}

.map_circle {
	height: 26px;
	width: 26px;
	position: absolute;
	background: url('/img/user/signup/map_buttons.png');
	background-position: -26px 0;
	cursor: pointer;
	z-index: 10;
	
	&.encyclopedia {
		top: 40px;
		left: 270px;
	}
	
	&.consultation {
		top: 325px;
		left: 280px;
	}
	
	&.news {
		top: 205px;
		right: 420px;
	}
	
	&.piggy_bank {
		bottom: 205px;
		right: 415px;
	}
	
	&.action {
		top: 190px;
		right: 140px;
	}
	
	&.service {
		top: 305px;
		right: 55px;
	}
	
	&:hover {
		background-position: 0 0;
		z-index: 20;
	}
	
	&:hover  ~ .map_content {
		background: $darkblue;
		color: $white;
		z-index: 15;
		
		.text {
			display: block;
		}
	}
}

.map_content {
	@include border_radius(5px);
	position: absolute;
	padding: 18px;
	color: $darkblue;
	height: auto;
	width: 240px;
	
	.text {
		line-height: 20px;
		display: none;
		font-size: 16px;
	}
	
	&.left {
		.adorable_cell {
			text-align: left;
		}
	}
	
	&.right {
		.adorable_cell {
			text-align: right;
		}
	}
	
	&.encyclopedia {
		top: 53px;
		left: 283px;
	}
	
	&.consultation {
		top: 338px;
		left: 293px;
	}
	
	&.news {
		top: 218px;
		right: 197px;
	}
	
	&.piggy_bank {
		top: 435px;
		right: 188px;
	}
	
	&.action {
		top: 203px;
		right: 153px;
	}
	
	&.service {
		top: 318px;
		right: 68px;
	}
}