extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/main.css")
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=yb0bsJMIQ5tGXR/L4ufIEGUJZhrYwSaqtetSb48bIz3xjxhSuny6ThgP*g7U6pj4RnPjtksKfad60GFKgnZRvHEi7fh849MkMlQmVdahDFFi5xCzy2bIrVL4U*PrTyFwHv*0hTTeNMHoJeSA3LFrzZThTFdvRrXaK3ZLBJa44ac-';
	meta(name='google-site-verification', content='52Q3eQRpK8SvdAjnRjgFiH8wb9tmvzudUBrr3sxh7dE')

block content
	.module.server#main
		include content