/* colors */
/* base */
/* useful */
/* base */
/* colors */
/* base */
/* useful */
/* base */
.breadcrumbs {
  margin-bottom: 14px;
  font-size: 85%; }
  .breadcrumbs a {
    color: #a19084; }

.content {
  margin-bottom: 70px; }

.topper {
  height: 80px; }
  .topper .top_label {
    font-size: 112.5%; }

.age_filter {
  height: 120px;
  text-align: center;
  display: table;
  width: 100%;
  table-layout: fixed; }

.age_block {
  display: table-cell;
  vertical-align: top;
  height: 100%;
  cursor: pointer; }
  .age_block.active, .age_block:hover {
    background-color: #f7f7f7; }
  .age_block.active .adorable_table:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: -10px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f7f7f7; }

.category_filter {
  height: 100px;
  text-align: center; }
  .category_filter .show {
    font-size: 45px;
    line-height: 45px; }

.category_block {
  margin: 0 25px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  position: relative; }

.choose_category {
  cursor: pointer;
  font-size: 112.5%;
  padding: 5px 15px; }
  .choose_category.active {
    -webkit-box-shadow: 0 0 0 1px #cccccc inset;
    -moz-box-shadow: 0 0 0 1px #cccccc inset;
    box-shadow: 0 0 0 1px #cccccc inset; }
  .choose_category:hover {
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    -moz-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    background-color: #4bc4ee;
    color: white; }

.products_articles {
  height: 320px;
  margin-bottom: 20px; }
  .products_articles .text {
    padding: 40px; }

#products_container {
  overflow: visible; }

.product_block {
  background-color: white;
  height: 465px;
  float: left;
  margin: 0 0 1% 2%;
  width: 22.5%;
  position: relative;
  cursor: pointer; }
  .product_block .image {
    position: absolute;
    top: 0;
    height: 225px;
    width: 100%; }
    .product_block .image img {
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      max-height: 60%;
      max-width: 60%; }
  .product_block .title {
    position: absolute;
    top: 225px;
    background-color: #f7f7f7;
    height: 80px; }
    .product_block .title span {
      color: #4bc4ee;
      font-size: 107.2%;
      text-transform: uppercase;
      font-weight: bold; }
  .product_block .desc {
    position: absolute;
    top: 305px;
    background-color: #f7f7f7;
    height: 80px; }
    .product_block .desc span {
      font-size: 93%; }
  .product_block .info {
    width: 100%;
    position: absolute;
    top: 385px;
    background-color: #f7f7f7;
    height: 80px; }
    .product_block .info .top {
      font-size: 112.5%;
      color: #4bc4ee;
      font-weight: bold; }
    .product_block .info .bottom {
      font-size: 93%; }
    .product_block .info:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 48px;
      width: 1px;
      background-color: #666666; }
  .product_block:hover {
    -webkit-box-shadow: 0 0 0 0.5em #4bc4ee;
    -moz-box-shadow: 0 0 0 0.5em #4bc4ee;
    box-shadow: 0 0 0 0.5em #4bc4ee; }
    .product_block:hover .image {
      top: 80px;
      height: 305px; }
      .product_block:hover .image img {
        max-height: 90%;
        max-width: 90%; }
    .product_block:hover .title {
      top: 0;
      background-color: white; }
    .product_block:hover .desc {
      display: none; }
