@font-face {
  font-family: 'Novito_Nova';
  src: url("/css/fonts/novitonova-thin.eot");
  src: url("/css/fonts/novitonova-thin.eot?#iefix") format("embedded-opentype"), url("/css/fonts/novitonova-thin.woff") format("woff"), url("/css/fonts/novitonova-thin.ttf") format("truetype"), url("/css/fonts/novitonova-thin.svg#novitonovathin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Custom';
  src: url("/css/fonts/custom.eot");
  src: url("/css/fonts/custom.eot?#iefix") format("embedded-opentype"), url("/css/fonts/custom.woff") format("woff"), url("/css/fonts/custom.ttf") format("truetype"), url("/css/fonts/custom.svg#customregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.novito_nova {
  font-family: "Novito_Nova"; }
