textarea {
  resize: none; }

.centered {
  text-align: center; }

.error {
  color: red; }

/* Useful stuff */
.adorable_container {
  /* Should have width */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: table;
  position: relative; }

.inline_adorable_container {
  /* Should have width */
  position: relative;
  display: inline-block;
  line-height: 0;
  letter-spacing: -1px; }
  .inline_adorable_container .adorable {
    line-height: normal;
    letter-spacing: normal; }

.lovely {
  margin-top: 100%; }

.adorable {
  max-height: 100%;
  max-width: 100%; }

.adorable_table {
  display: table;
  height: 100%;
  width: 100%; }

.adorable_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  white-space: normal; }

.rounded, button, .middle_button, .huge_button {
  -moz-border-radius: 99999em;
  -webkit-border-radius: 99999em;
  -khtml-border-radius: 99999em;
  border-radius: 99999em; }

.force_height {
  overflow: auto;
  position: relative; }

.bold {
  font-weight: bold; }

.border_boxed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pull_right {
  float: right; }

.blue {
  background-color: #4bc4ee;
  color: white; }

.darkblue {
  background-color: #45b4e8;
  color: white; }

.lightblue {
  background-color: #61e5f9;
  color: #105ba6; }

.yellow {
  background-color: #ffe690;
  color: #9b7155; }

.red {
  background-color: #ff9486;
  color: #9b7155; }

.darkred {
  background-color: #e6625f;
  color: white; }

.lightred {
  background-color: #ffa598;
  color: white; }

.white {
  background-color: white; }

.green {
  background-color: #71db96;
  color: white; }

.base_font, body {
  color: #666666; }

.light_font {
  color: #999999; }

.italic_font {
  color: #b3b3b3;
  font-style: italic; }

.darkblue_font {
  color: #45b4e8; }

button, .middle_button, .huge_button {
  border: none;
  padding: 4px 45px; }

.middle_button {
  padding: 13px 29px; }

.huge_button {
  padding: 24px 31px; }

body {
  background-color: #f2eeeb; }
  @media (max-width: 1280px) {
    body {
      width: 100%; } }
  @media (min-width: 1280px) {
    body {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      width: 1280px; } }

#header {
  height: 80px; }

#footer {
  height: 80px; }

.slider {
  position: relative;
  top: 0px;
  left: 0px;
  height: 469px; }

.slides {
  cursor: move;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 469px; }

.jssorb12 {
  position: absolute;
  width: 94px;
  height: 16px; }

.prototype {
  POSITION: absolute;
  WIDTH: 16px;
  HEIGHT: 16px; }

.jssora21l {
  width: 55px;
  height: 55px;
  top: 123px;
  left: 8px; }

.jssora21r {
  width: 55px;
  height: 55px;
  top: 123px;
  right: 8px; }

/* jssor slider bullet navigator skin 12 css */
/*
.jssorb12 div		   (normal)
.jssorb12 div:hover	 (normal mouseover)
.jssorb12 .av		   (active)
.jssorb12 .av:hover	 (active mouseover)
.jssorb12 .dn		   (mousedown)
*/
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
  background: url(../img/b12.png) no-repeat;
  overflow: hidden;
  cursor: pointer; }

.jssorb12 div {
  background-position: -7px -7px; }

.jssorb12 div:hover, .jssorb12 .av:hover {
  background-position: -37px -7px; }

.jssorb12 .av {
  background-position: -67px -7px; }

.jssorb12 .dn, .jssorb12 .dn:hover {
  background-position: -97px -7px; }

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l			  (normal)
.jssora21r			  (normal)
.jssora21l:hover		(normal mouseover)
.jssora21r:hover		(normal mouseover)
.jssora21ldn			(mousedown)
.jssora21rdn			(mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../img/a21.png) center center no-repeat;
  overflow: hidden; }

.jssora21l {
  background-position: -3px -33px; }

.jssora21r {
  background-position: -63px -33px; }

.jssora21l:hover {
  background-position: -123px -33px; }

.jssora21r:hover {
  background-position: -183px -33px; }

.jssora21ldn {
  background-position: -243px -33px; }

.jssora21rdn {
  background-position: -303px -33px; }
