@import '../../normalize/normalize';
@import '../dynamic/dynamic';
@import '../helpers/dropdown';

body {
	color: $base;
	font-family: "PT_Sans_Regular", sans-serif;
	font-size: 14px;
	background: $bg url('/img/user/bg.png') repeat;
	min-width: 1000px;
}

ul {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style-image: url("/img/user/drop.png");
}

p {
	margin-top: 0;
}

h3 {
	margin-top: 0;
}

.module {
	display: none;
	
	&.active {
		display: block;
	}
}

#header {
	@include full_width_layout;
	height: $hfheight;
	position: relative;
	
	.layout_inside {
		@include layout_inside;
		height: 100%;
	}
	
	a {
		text-decoration: none;
		color: $base;
	}
	
	.menu {
		&.left {
			text-align: center;
		}
		
		&.right {
			text-align: center;
			
			.menu_block {
				padding: 5px 0 0 3%;
			}
		}
	}
	
	.menu_block {
		padding: 5px 1%;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		
		span {
			@include border_radius(100px);
			padding: 8px 10px;
			font-size: 112.5%;
			
			&:hover, &.active {
				background: $el_bg;
				color: $darkblue;
			}
		}
		
		.dropdown {
			font-size: 100%;
			width: 230px;
			background: $el_bg;
		}
		
		.dropdown_item {
			height: 50px;
			position: relative;
			
			a {
				display: block;
				height: 100%;
			}
			
			&:first-child {
				&:before {
					@include pseudo;
					@include absolute_horizontal_centered;
					top: -10px;
					width: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $el_bg;
				}
				
				&:hover {
					&:before {
						border-bottom: 10px solid $darkblue;
					}
				}
				
				&:active {
					&:before {
						border-bottom: 10px solid #3d9ccc;
					}
				}
			}
			
			&:not(:last-child) {
				border-bottom: 1px solid #e5e5e5;
			}
			
			&:hover {
				a {
					background: $darkblue;
					color: $white;
				}
			}
			
			&:active {
				a {
					background: #3d9ccc;
					color: $white;
				}
			}
		}
		
		&.contacts {
			padding-left: 7% !important;
		}
	}
	
	#contacts {
		padding: 0 0 0 15px;
		text-align: right;
		
		.phone {
			color: $darkblue;
		}
		
		a {
			color: $darkblue;
		}
	}
	
	.before_logo {
		margin-right: 7%;
	}
	
	.after_logo {
		margin-left: 12px;
	}
}

#before_main {
	width: 100%;
	height: 469px;
    text-align: center;
	background: $darkblue;
	position: relative;
	overflow: hidden;
	
	.layout_inside {
		width: 1280px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
	}
}

#slider_container {
	.action_label {
		font-size: 18px;
		font-family: 'PT_Sans_Bold';
	}
	
	.action {
		font-size: 53px;
		line-height: 53px;
	}
}

.main_container {
	width: 100%;
	text-align: center;
	
	.content {
		padding: $content_padding;
	}
	
	&> .content {
		margin-top: 25px;
		padding: 0;
		width: 980px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
	}
}

#footer {
	@include full_width_layout;
	height: $hfheight;
	position: relative;
	margin-top: 13px;
	font-size: 87.5%;
	
	.layout_inside {
		display: inline-block;
		height: 100%;
		width: 980px;
		position: relative;
		vertical-align: top;
	}
	
	a {
		text-decoration: none;
		color: $base;
	}
	
	#copyright {
		float: left;
		height: 100%;
		width: auto;
		
		.adorable_cell {
			text-align: left;
			padding: 0 0 5px;
		}
	}
	
	.menu {
		text-align: center;
		float: right;
		height: 100%;
		width: 70%;
		min-width: 765px;
	}
	
	.menu_block {
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 0 15px;
		line-height: 14px;
		
		.adorable_cell {
			padding: 0 0 5px;
		}
		
		&:hover {
			a {
				text-decoration: underline;
				font-family: 'PT_Sans_Bold';
			}
		}
	}
	
	#marker {
		font-family: 'PT_Sans_Bold';
		float: right;
		width: 5%;
		height: 100%;
		
		.item {
			width: 34px;
			height: 34px;
			background: #f7f7f7;
			display: inline-block;
			vertical-align: top;
			
			&:hover {
				.marker_hover {
					display: block;
				}
			}
			
			&:active {
				background: #e5e5e5;
				
				.marker_hover {
					display: block;
				}
			}
		}
		
		.marker_image {
			@include absolute_centered;
			display: none;
		}
		
		.marker_normal {
			display: block;
		}
	}
}

#logo {
	@include absolute_horizontal_centered;
    width: 12.5%;
    z-index: 30;
	
	img {
		@include image_fix;
	}
}

.new_items {
	position: absolute;
	min-width: $line_height;
	height: $line_height;
	right: 6%;
    top: 16%;
	font-size: 87.5%;
}

#contacts {
	.darkblue_font {
		font-size: 112.5%;
	}
	
	.italic_font {
		font-size: 62.5%;
	}
}

.bottom_wave {
	position: absolute;
	bottom: -13px;
	width: 100%;
	height: 13px;
	background: url('/img/user/wave_border_bottom.png') top repeat-x;
	z-index: 20;
}

.top_wave {
	position: absolute;
	top: -13px;
	width: 100%;
	height: 13px;
	background: url('/img/user/wave_border_top.png') bottom repeat-x;
	z-index: 20;
}

.top_label {
	text-transform: uppercase;
	font-size: 143%;
	padding: 5px;
}

.label {
	font-size: 63px;
	line-height: 63px;
	padding: 5px;
}

.pentagon {
	background: url(/img/user/signup/pentagon_bg.png) bottom no-repeat;
	height: 105px;
	position: relative;
	margin-bottom: 29px;
	
	.pentagon_content {
		position: relative;
		height: 100%;
		z-index: 1;
	}
	
	.label {
		font-size: 53px;
		line-height: 53px;
	}
}

.footer {
	min-height: 238px;
}

.inputs {
	min-height: 158px;
	
	.content {
		height: 100%;
		margin: 0;
	}
	
	.right {
		.input {
			margin-left: 40px;
		}
	}
	
	.left {
		.input {
			margin-right: 40px;
		}
	}
}

.submit {
	height: 80px;
	
	.middle_button {
		font-size: 100%;
	}
}