@import '../dynamic/dynamic';

button {
	@include border_radius(99999em);
	border: none;
	padding: 4px 45px;
	outline-style: none;
	
	&:hover {
		opacity: 0.8;
	}
	
	&.darkblue {
		&:active {
			color: rgba(255, 255, 255, 0.5);
		}
	}
	
	&.yellow {
		&:active {
			color: rgba(155, 113, 85, 0.5);
		}
	}
}

.middle_button {
	@extend button;
	padding: 8px 28px;
	font-size: 112.5%;
}

.huge_button {
	@extend button;
	padding: 24px 31px;
}

input {
	@include border_radius(5px);
	@include border_boxed;
	border: none;
	height: 58px;
	width: 100%;
	padding: 0 22px;
	color: $light;
	text-transform: uppercase;
	margin: 0 0 30px;
	font-size: 100%;
	
	&:focus {
		@include inset_box_shadow(0 0 0 3px $yellow);
	}
}

.select {
	display: inline-block;
    position: relative;
	
	select {
		@include border_radius(5px);
		@include border_boxed;
		height: 38px;
		border: none;
		line-height: 38px;
		font-size: 14px;
		padding: 10px 20px;
		color: $base;
		width: 225px;
		position: relative;
		color: $dark;
		
		&:after {
			@include pseudo;
			height: 38px;
			width: 60px;
			background: $white;
			right: 0;
			top: 0;
		}
	}

	select ~ label {
		@include border_radius(5px);
		position: absolute;
		right: 0;
		top: 0;
		height: 38px;
		width: 60px;
		background: $white;
	}

	select ~ label img {
		@include absolute_centered;
		display: block;
	}
}