@import '../../dynamic/dynamic';
@import '../../helpers/breadcrumbs';
@import '../../helpers/message';

.content {
	.topper {
		height: 265px;
		margin-bottom: 20px;
		
		.label {
			margin-bottom: 15px;
			font-size: 65px;
			line-height: 65px;
		}
	}
	
	.top_label {
		font-size: 112.5%;
		line-height: 150%;
	}
	
	> .white {
		margin-bottom: 50px;
		
		> .top_label {
			height: 130px;
		}
	}
	
	.invite {
		padding-bottom: 50px;
	}
	
	.inputs { 
		.content {
			padding-top: 50px !important;
		}
		
		.top_label {
			font-size: 100%;
		}
	}
	
	.client_block {
		overflow: hidden;
	}
	
	.more {
		padding-bottom: 30px;
		
		.top_label {
			padding: 0;
		}
	}
	
	#add_client {
		border-bottom: 1px dashed;
		cursor: pointer;
	}
}

#invite_form {
	button {
		&:active {
			color: rgba(100, 203, 129, 0.5);
		}
	}
}