@import '../../dynamic/dynamic';
@import '../../helpers/breadcrumbs';
@import '../../helpers/message';

#success {
	overflow: hidden;
	
	.topper {
		height: 265px;
		margin-bottom: 20px;
		
		.label {
			margin-bottom: 5px;
			font-size: 65px;
			line-height: 60px;
			padding: 0 60px;
		}
	}
	
	.top_label {
		font-size: 18px;
		line-height: 150%;
	}
	
	> .white {
		margin-bottom: 50px;
		overflow: hidden;
		
		> .top_label {
			height: 130px;
		}
	}
	
	.invite {
		padding-bottom: 50px;
	}
	
	.inputs { 
		.content {
			padding-top: 50px !important;
		}
		
		.top_label {
			font-size: 100%;
		}
	}
	
	.more {
		padding-bottom: 30px;
		
		.top_label {
			padding: 0;
		}
	}
	
	#add_client {
		border-bottom: 1px dashed;
		cursor: pointer;
	}
	
	.message {
		.top_label {
			&.dark_font {
				color: $white;
				font-size: 16px;
			}
			
			&.white_font {
				display: none;
			}
		}
	}
}

#invite_form {
	overflow: hidden;
	
	button {
		&:active {
			color: rgba(100, 203, 129, 0.5);
		}
	}
}
