@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/join_tour_full';

#production {
	margin-bottom: 50px;
}

.production_container {
	height: 625px;
	position: relative;
}

.production_block {
	height: 100%;
	position: relative;
	display: none;
	
	&.active {
		display: block;
	}
}

.production_bg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	img {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.production_arrows {
	width: 100px;
	height: 50px;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1;
	
	.half {
		background: $el_bg url("/img/user/button_arrows.png") no-repeat;
		color: #cccccc;
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;
		
		&.left {
			background-position: -50px -50px;
			
			&:hover, &:active {
				background-position: 0 0;
			}
		}
		
		&.right {
			background-position: -50px 0;
			
			&:hover, &:active {
				background-position: 0 -50px;
			}
		}
		
		&:hover {
			background-color: $darkblue;
			color: $white;
		}
		
		&:active {
			background-color: #3d9ccc;
			color: $white;
		}
	}
}

.production_navigator {
	height: 95px;
	position: relative;
	
	&:before {
		@include pseudo;
		@include absolute_centered;
		height: 1px;
		width: 80%;
		background: $lightblue;
		z-index: 5;
	}
}

.production_title {
	@include absolute_horizontal_centered;
	text-align: center;
	top: 45px;
	color: $darkblue;
	letter-spacing: 3px;
}

.production_button {
	text-transform: uppercase;
	margin: 0 9px;
	font-size: 100%;
	padding: 10px 18px;
	color: $white;
	background: $darkblue;
	@include inset_box_shadow(0 0 0 1px $lightblue);
	font-weight: bold;
	z-index: 10;
	position: relative;
	
	&.active, &:hover {
		@include box_shadow(none);
		background: $white;
		color: $darkblue;
		opacity: 1;
	}
}

.production_circle {
	height: 34px;
	width: 34px;
	position: absolute;
	background: $darkblue;
	cursor: pointer;
	color: $white;
	z-index: 10;
	
	&.opened {
		top: 218px;
		left: 111px;
	}
	
	&.tech {
		top: 218px;
		right: 130px;
	}
	
	&.baby {
		top: 248px;
		left: 51px;
	}
	
	&.vitamins {
		top: 402px;
		right: 142px;
	}
	
	&.suppliers {
		top: 298px;
		left: 57px;
	}
	
	&.milk {
		top: 344px;
		left: 537px;
	}
	
	&.fruits {
		top: 176px;
		right: 43px;
	}
	
	&.norm {
		top: 374px;
		left: 123px;
	}
	
	&.check {
		top: 194px;
		right: 453px;
	}
	
	&.safe {
		top: 249px;
		right: 87px;
	}
	
	&:before {
		@include pseudo;
		@include absolute_centered;
		content: '+';
		text-align: center;
		line-height: 34px;
		font-family: Arial;
		font-size: 24px;
	}
	
	&:hover {
		background: $red;
		
		&:before {
			content: '\D7';
			font-family: Arial;
		}
	}
	
	&:hover  ~ .production_content {
		background: $darkblue;
		color: $white;
		
		.text {
			display: block;
		}
		
		&.opened {
			height: 299px;
		}
		
		&.tech {
			height: 393px;
		}
	}
}

.production_content {
	@include border_radius(5px);
	position: absolute;
	padding: 30px;
	color: $darkblue;
	
	.label {
		font-size: 40px;
		line-height: 40px;
		padding: 0;
		margin-bottom: 25px;
	}
	
	.text {
		line-height: 20px;
		display: none;
	}
	
	&.left {
		.adorable_cell {
			text-align: left;
		}
	}
	
	&.right {
		.adorable_cell {
			text-align: right;
		}
	}
	
	&.opened {
		width: 262px;
		height: 200px;
		top: 172px;
		left: 128px;
	}
	
	&.tech {
		width: 255px;
		height: 195px;
		top: 173px;
		right: 147px;
	}
	
	&.baby {
		width: 267px;
		height: 200px;
		top: 201px;
		left: 68px;
	}
	
	&.vitamins {
		width: 255px;
		height: 195px;
		top: 357px;
		right: 159px;
	}
	
	&.suppliers {
		width: 262px;
		height: 200px;
		top: 252px;
		left: 74px;
	}
	
	&.milk {
		width: 262px;
		height: 200px;
		top: 298px;
		left: 554px;
	}
	
	&.fruits {
		width: 255px;
		height: 195px;
		top: 131px;
		right: 60px;
	}
	
	&.norm {
		width: 262px;
		height: 200px;
		top: 327px;
		left: 140px;
		letter-spacing: 1px;
	}
	
	&.check {
		width: 255px;
		height: 195px;
		top: 125px;
		right: 470px;
	}
	
	&.safe {
		width: 255px;
		height: 195px;
		top: 205px;
		right: 104px;
	}
}