h1 Добрый день, #{login}

p
	| Вы успешно зарегистрировались на 
	a(href="http://localhost:8080/") Агуше
	| .

p
	| Используйте
	a(href!="http://localhost:8080/registration/activate/#{salt}") эту ссылку
	|  для активации вашего аккаунта

h3 Спасибо за регистрацию!