extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/feeding_up/feeding_up.css")

block append content
	#feeding_up.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		

block append scripts
	