a(href = '/video')
	helper.live_program.lightblue.novito_nova
		.photo.inline_adorable_container
			.adorable
				img.rounded(src="/img/user/helpers/live_program/live_program.jpg")
				img.triangle(src="/img/user/helpers/live_program/triangle.png")
		
		.label.centered.border_boxed Репортаж с места событий