.live_program.lightblue.novito_nova
	.photo
		img.rounded(src="/img/user/helpers/live_program/live_program.jpg")
		img.triangle(src="/img/user/helpers/live_program/triangle.png")
	
	.label.centered Репортаж с места событий