a(href = '/tour')
	.join_tour.red
		.photo.inline_adorable_container
			.adorable
				img.rounded(src="/img/user/helpers/join_tour/join_tour.jpg")
		
		.arrow.adorable_table
			.adorable_cell
				img.arrow_bg.arrow_normal(src="/img/user/helpers/join_tour/arrow.png")
				img.arrow_bg.arrow_hover(src="/img/user/helpers/join_tour/arrow_hover.png")
				img.arrow_bg.arrow_active(src="/img/user/helpers/join_tour/arrow_active.png")
				span Записаться на экскурсию