a(href = '/tour')
	helper.join_tour.red.inline_adorable_container
		.adorable
			.photo.inline_adorable_container
				.adorable
					img.rounded(src="/img/user/helpers/join_tour/join_tour.jpg")
			
			.arrow.adorable_table
				.adorable_cell
					img.arrow_bg(src="/img/user/helpers/join_tour/arrow.png")
					span Записаться на экскурсию