@import '../dynamic/dynamic';

#slider_container {
	width: 1280px;
	height: 469px;
	
	> div {
		@include transform(none !important);
	}
	
	.slides {
		width: 1280px;
		height: 469px;
		
		&> div {
			left: 1280px;
		}
	}
}

.slider {
	width: 1280px;
	height: 469px;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	overflow: hidden !important;
	
	.label {
		font-size: 70px;
		line-height: 70px;
	}
	
	.text {
		@include absolute_centered;
		width: 25%;
		min-width: 320px;
		height: 100%;
	}
	
	.link {
		padding: 5px;
		font-size: 125%;
		display: block;
	}
}

.slides {
	width: 1280px;
	height: 469px;
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	
	img {
		@include image_fix;
		max-height: 100%;
	}
}

.jssorb12 {
	@include absolute_horizontal_centered;
	position: absolute;
	width: 94px;
	height: 16px;
	bottom: 44px;
}

.prototype {
	POSITION: absolute;
	WIDTH: 12px;
	HEIGHT: 12px;
}

.jssora21l {
	bottom: 0;
    left: 39px;
    margin: auto;
    top: 0;
}

.jssora21r {
	right: 39px;
	bottom: 0;
    margin: auto;
    top: 0;
}

.jssora21l, .jssora21r {
	display: block;
}

/* jssor slider bullet navigator skin 12 css */
/*
.jssorb12 div		   (normal)
.jssorb12 div:hover	 (normal mouseover)
.jssorb12 .av		   (active)
.jssorb12 .av:hover	 (active mouseover)
.jssorb12 .dn		   (mousedown)
*/

.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av
{
	
}

.jssorb12 div {
	background-color: $white;
	cursor: pointer;
}

.jssorb12 div:hover, .jssorb12 .av:hover {
	
}

.jssorb12 .av {
	background-color: #a2dbff;
}

.jssorb12 .dn, .jssorb12 .dn:hover {
	
}

/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l			  (normal)
.jssora21r			  (normal)
.jssora21l:hover		(normal mouseover)
.jssora21r:hover		(normal mouseover)
.dn			(mousedown)
*/
.jssora21l, .jssora21r,
{
	width: 27px;
	height: 51px;
	position: absolute;
	cursor: pointer;
	background: url(/img/user/banner/banner_arrows.png) no-repeat;
	overflow: hidden;
}

.jssora21l {
	background-position: 0 -52px;
}

.jssora21r {
	background-position: -27px -52px;
}

.jssora21l:hover {
	background-position: 0 0;
}

.jssora21r:hover {
	background-position: -27px 0;
}

.jssora21l:active {
	background-position: 0 -104px;
}

.jssora21r:active {
	background-position: -27px -104px;
}