@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/did_you_know';

.article_container {
	margin-bottom: 63px;
}

.article_topper {
	height: 120px;
	text-align: center;
	display: table;
	width: 100%;
	table-layout: fixed;
	
	&> a {
		display: table-cell;
		vertical-align: top;
		height: 100%;
		color: $white;
		text-decoration: none;
	}
}

.article_topper_block {
	height: 100%;
	
	.label {
		font-size: 35px;
		line-height: 35px;
		padding: 0 36px;
	}
	
	&.active, &:hover {
		background-color: $green;
	}
	
	&.active {
		&:before {
			background-image: linear-gradient(to left bottom, $green 50%, rgba(0, 0, 0, 0) 50%);
			bottom: -10px;
			content: "";
			height: 10px;
			left: 0;
			position: absolute;
			width: 50%;
		}
		&:after {
			background-image: linear-gradient(to right bottom, $green 50%, rgba(0, 0, 0, 0) 50%);
			bottom: -10px;
			content: "";
			height: 10px;
			position: absolute;
			right: 0;
			width: 50%;
		}
		
	}
}

.article_content {
	margin-top: 20px;
}

.article_left {
	width: 74%;
	margin-right: 2%;
	float: left;
}

.article_right {
	width: 24%;
	float: left;
}

.article_big_title {
	height: 380px;
	
	.label {
		padding: 25px 68px;
		font-size: 63px;
		line-height: 63px;
	}
}

.inner_image {
	width: 100%;
}

.article_text {
	margin-top: 20px;
	padding: 30px;
	font-size: 112.5%;
}

.f-img-wrap img {
	width: 725px;
	left: -30px;
	position: relative;
}

.article_footer {
	padding: 0 30px;
	background: $white;
}

.share_text {
	position: relative;
	
	span {
		background: $white;
		position: relative;
		padding: 0 13px;
		color: #cccccc;
	}
	
	&:before {
		@include pseudo;
		@include absolute_centered;
		height: 1px;
		width: 100%;
		background: #cccccc;
	}
}

.share_buttons {
	margin: 25px 0;
}

.share_button {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	display: inline-block;
	vertical-align: top;
	
	img {
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
}

.specialist {
	background: #3eb4ea;
	color: $white;
	margin-bottom: 10px;
	
	.top_label {
		font-size: 128.5%;
	}
	
	.top {
		padding: 20px;
		border-bottom: 1px solid #4ec2f7;
		
		.author {
			font-size: 85.7%;
			text-transform: ippercase;
			color: #b5e8ff;
			padding: 15px 0 10px;
		}
		
		.desc {
			font-size: 85.7%;
			padding: 10px 0 0;
		}
		
		img {
			height: 130px;
			width: 130px;
		}
	}
	
	.bottom {
		padding: 20px;
		font-size: 85.7%;
	}
}

.articles_right_container {
	.article_block {
		width: 100%;
		margin-bottom: 10px;
		background: $white;
		
		.adorable_cell {
			padding: 10px;
			
			&> div {
				height: 100%;
				width: 100%;
				position: relative;
			}
		}
		
		.plate {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			padding: 20px;
		}
		
		.label {
			font-size: 33px;
			line-height: 33px;
		}
	}
}