@import '../dynamic/dynamic';
@import '../helpers/slider';
@import '../helpers/live_program';
@import '../helpers/join_tour';
@import '../helpers/message';

@mixin number_pseudo {
	@include pseudo;
	background-color: #1B502D;
	bottom: 0;
	height: 10px;
	margin: auto;
	overflow: hidden;
	top: 0;
	width: 2px;
}

@mixin number_box_shadow {
	@include box_shadow(4px 4px 0px 0px rgba(64, 113, 81, 0.3));
}

#checker {
	.content {
		margin-bottom: 95px;
		height: 315px;
	}
	
	.left {
		width: 65.8%;
		float: left;
		margin-right: 1.5%;
		height: 100%;
		padding: 0 25px 60px;
		text-align: center;
	}
	
	.content_block {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		height: 100%;
		color: $base;
		position: relative;
		
		.adorable_cell {
			vertical-align: bottom;
		}
		
		.label {
			line-height: 55px;
		}
		
		button {
			font-size: 143%;
			margin-top: 15px;
			
			&:active {
				color: rgba(255, 255, 255, 0.5);
			}
		}
		
		&.product {
			&:hover {
				font-weight: bold;
			}
		}
	}
	
	.product_img {
		@include absolute_centered;
		padding: 0 0 5px;
		max-height: 189px;
		max-width: 100%;
	}
	
	.product_label {
		height: 36px;
	}
	
	.right {
		width: 32.7%;
		float: left;
		height: 100%;
		
		.label {
			font-size: 47px;
			line-height: 45px;
			padding: 0;
			margin-bottom: -5px;
		}
		
		.top_label {
			clear: both;
			padding: 10px 5px;
			font-size: 112.5%;
		}
	}
	
	.number {
		@include number_box_shadow;
		background: url(/img/user/main/number_bg.png) center no-repeat;
		@include linear_gradient(bottom, $lightred 50%, #fd7b6a 50%);
		display: inline-block;
		vertical-align: top;
		font-size: 590%;
		line-height: 100%;
		margin: 0 8px;
		min-width: 51px;
		position: relative;
		
		span:before {
			@include pseudo;
			background-color: #5CB179;
			bottom: 0;
			height: 2px;
			left: 0;
			margin: auto;
			right: 0;
			top: 0;
			width: 100%;
		}
		
		&:after {
			@include number_pseudo;
			@include number_box_shadow;
			right: -2px;
		}
		
		&:before {
			@include number_pseudo;
			left: -2px;
		}
	}
	
	.message_link {
		color: #0c5b93;
		font-family: 'PT_Sans_Italic';
		margin-top: 25px;
	}
}