extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/food/food.css")

mixin doc()
	.adorable
		.adorable_table
			.adorable_cell
				.doc_block
					.avatar.rounded 
						img.rounded(src="/img/user/food/doc.jpg")
					.label.novito_nova 
						| Главное о детском
						br
						| питании
					button.middle_button.white Статьи от специалиста

block append content
	#food.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.food_topper.adorable_table.darkblue.border_boxed
			.adorable_cell
				.label.novito_nova Чем кормить, чтобы не навредить
				.text У вас появился малыш! Естественно, вы хотите, чтобы он рос здоровым и счастливым. А ведь на рост и гармоничное развитие во многом влияет то, чем вы его кормите. Каким должно быть сбалансированное питание, чем отличается домашнее от покупного, сколько и когда должен кушать ребенок… Давайте разберемся!
		
		.food_container
			.food_block.inline_adorable_container
				if specialist
					a(href = '/specialist/' + specialist.alias)
						mixin doc()
				else
					mixin doc()
			
			.food_block.inline_adorable_container
				a(href="/feeding_up")
					.adorable
						.food_block_bg
							img(src="/img/user/food/feeding_up.jpg")
						.plate.border_boxed
							.adorable_table
								.adorable_cell
									.label.novito_nova
										| Cхема введения
										br
										| прикорма
									button.middle_button.darkblue Еда: что, сколько и когда
			
			- each a, key in articles
				.food_block.inline_adorable_container
					a(href = '/article/' + a.alias)
						.adorable
							if a.desc_image.length
								.food_block_bg
									img(src = '/img/uploads/' + a.desc_image[0])
							.plate.border_boxed
								.adorable_table
									.adorable_cell
										.label.novito_nova.adorable_table
											.adorable_cell !{a.desc_title}
										
										button.middle_button.darkblue #{a.button_label}

block append scripts
	