.border_win
	table.table_wrap
	table.header
		tbody
			tr
				th.logo
					a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email')
						.logo_image
				th.welcome
					.welcome_test
						span.pt_italic
							| Здравствуйте, #{login}!
							br
							| Поздравляем, вы зарегистрировались на agusha.com.ua и по результатам акции
							br
							| «Первая 1000» получаете чудесный подарок
							br
							| от ТМ «Агуша» для вашего малыша!
	
	.promise
		img(src="http://agusha.com.ua/img/email/win_center.png")
	
	table.not_registred_text
		| *Подарок от «Агуша» будет выслан в отделение курьерской службы, которое находится ближе всего к
		br
		| указанному вами при регистрации адресу. SMS сообщение от курьерской службы придет на указанный вами
		br
		| при регистрации номер мобильного телефона.
	
	.footer
		.copyright
			| © 
			a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') Agusha.com.ua
			|  2014
		.unsubscribe
			a(href = base_url + '/unsubscribe') Отказаться от рассылки