/*
	Reset styles
*/

body, .border_win {
    margin:0;
    padding:0;
}

img {
    border: 0 none;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}

a {
	cursor: pointer;
}

.abutton {
	cursor: pointer;
}

a img {
    border:0 none;
}

.imageFix {
    display:block;
}

table, td {
    border-collapse:collapse;
}

/*
	Font-face
*/

.pt_italic {
	font-style: italic;
}

.pt_bold {
	font-weight: bold;
}

/*
	Background and border
*/

body, .border_win {
	background: #fff;
	font-family: sans-serif;
}

.border_win {
	width: 740px;
	padding: 10px;
	background: url('http://agusha.com.ua/img/email/bg-border-win.png') no-repeat;
}

/*
	Header
*/

.header {
	width: 100%;
	height: 300px;
	background: url('http://agusha.com.ua/img/email/header_bg_04.png') no-repeat;
}

.header.green {
	background: url('http://agusha.com.ua/img/email/header-bg-2_03.png') no-repeat;
}

.header .block {
	display: block;
}

.header .logo {
	width: 245px;
	height: 165px;
	float: left;
}

.header .logo .logo_image {
	margin-top: 13px;
	margin-right: 39px;
	width: 157px;
	height: 152px;
	background: url('http://agusha.com.ua/img/email/header-logo_03.png') no-repeat;
	float: right;
}

.header .welcome {
	width: 493px;
	color: #fff;
	font-size: 21.33px;
	text-align: left;
	font-weight: lighter;
	line-height: 30px;
}

.header .welcome a {
	color: #0d5c92;
	text-decoration: underline;
	cursor: pointer;
}

.header .welcome a:hover {
	text-decoration: none;
}

.header .welcome .welcome_test {
	margin-bottom: 47px;
	padding: 0 33px;
	font-size: 14pt;
}


/*
	Posil
*/

.posil {
	width: 100%;
	height: 643px;
	background: url('http://agusha.com.ua/img/email/letter_middle_03.jpg') no-repeat;
}

.posil2 {
	background: url('http://agusha.com.ua/img/email/letter-middle-2_03.png') no-repeat;
}


/*
	Action
*/

.action {
	width: 100%;
	height: 305px;
	font-weight: lighter;
	text-align: center;
}

.action td {
	vertical-align: middle;
	font-weight: lighter;
} 

.action .dummy {
	height: 30px;
}

.action .about_action {
	font-size: 10pt;
	color: #4c4c4c;
	padding-top: 31px;
}

a.italic_small_link {
	color: #45b4e8;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
}

a.italic_small_link:hover {
	text-decoration: none;
}

.action .get_contacts {
	font-size: 15pt;
	color: #4c4c4c;
	margin-top: 30px;
}

.action .action_button {
	margin-bottom: 30px;
}

.action .action_button .abutton {
	text-transform: uppercase;
	background: #45b4e8;
	color: white;
	font-size: 16pt;
	border: 0px;
	padding: 25px 50px;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	display: inline-block;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.88);
	-moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.88);
	box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.88);
}

.action .action_button .abutton.green {
	background: #71db96;
}


/*
	Not registred text
*/

.not_registred_text {
	height: 125px;
	width: 100%;
	font-size: 13.33px;
	font-weight: normal;
	background: #f1eee5;
	text-align: center;
	padding-top: 27px;
	vertical-align: middle;
	line-height: 20px;
}


/*
	Footer
*/

.footer {
	background: #45b4e8;
	width: auto;
	height: 33px;
	font-size: 10pt;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	color: #fff;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	text-decoration: none;
}

/*
	Promise
*/

.promise {
	text-align: center;
	width: 100%;
	font-size: 16pt;
	padding: 20px;
	width: 700px;
}

.promise .promise_text {
	font-weight: normal;
}

.promise .about_action {
	font-size: 10pt;
	padding-top: 63px;
}

.copyright {
	float: left;
}

.unsubscribe {
	float: right;
}
