extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/video/video.css")

block append content
	#video.content
		include ../../helpers/user/breadcrumbs/breadcrumbs
		
		.white
			.pentagon
				.adorable_table
					.adorable_cell
						.title_container
							.label.novito_nova.active(class=videos[0].id) #{videos[0].title}
			
			.video_container.video_inside
				.video_block.active(class=videos[0].id)
					object(frameborder="0", width="100%", height="100%", data="http://youtube.com/embed/" + videos[0].id, wmode="transparent", allowscriptaccess="always", allowfullscreen="true")
			
			.video_social.video_inside
				.adorable_table
					.adorable_cell
						.share_buttons
							.share_button
								img(src="/img/user/social/vk.png")
							
							.share_button
								img(src="/img/user/social/odnoklasniki.png")
							
							.share_button
								img(src="/img/user/social/google.png")
							
							.share_button
								img(src="/img/user/social/facebook.png")
							
							.share_button
								img(src="/img/user/social/twitter.png")
						
						.channel_link
							span.text Смотрите наш канал на youtube
							a(href="http://youtube.com")
								.youtube_img
				
				img.channel_arrow(src="/img/user/video/arrow.png")
			
			.more_videos.video_inside
				#video_gallery
					- each v, key in videos
						.small_video_block
							.small_video_content.border_boxed
								img.image(src = 'http://i.ytimg.com/vi/' + v.id + '/0.jpg')
		
		include ../../helpers/user/join_tour_full/join_tour_full

block append scripts
	script(src="/js/plugins/can/can.js")
	script(src="/js/plugins/slick/slick.min.js")
	script(src="/js/user/video/video.js")