/* colors */

$blue: #4bc4ee;
$darkblue: #45b4e8;
$verydarkblue: #105ba6;
$lightblue: #61e5f9;
$yellow: #ffe690;
$brown: #9b7155;
$red: #ff9486;
$darkred: #e6625f;
$lightred: #ffa598;
$green: #71db96;
$darkgreen: #64cb81;
$white: #ffffff;
$bg: #f2eeeb;
$light: #999999;
$base: #666666;

/* base */

$small_screen: 1280px;
$min_width: 1125px;
$hfheight: 80px;
$line_height: 1.3em;
$content_right: 11.7%;
$content_padding: 0 11.7%;