.border
	table.table_wrap
	table.header.green
		tbody
			tr
				th.logo
					a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email')
						.logo_image
				th.welcome
					.welcome_test
						span.pt_italic
							| Здравствуйте, #{login}!
							br
							| Ваш друг #{friend} зарегистрировался на сайте 
							br
							a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') agusha.com.ua
							|  и решил, что вам тоже
							br
							| может понравиться наш сайт.
	table.posil.posil2
	table.action
		tbody
			tr
				td
					.about_action
						| С подробными правилами акции вы можете ознакомиться 
						a(href = base_url + '/action?utm_source=email_rules&utm_medium=email&utm_campaign=light_email') здесь
						| .
			tr
				td
					.get_contacts
						| Пожалуйста, заполните анкету, чтобы завершить процесс
						br
						| регистрации и принять участие в акции «Первая тысяча».
			tr
				td
					.action_button
						- var href = base_url + '/signup/activate/' + salt + '?utm_source=email_activate&utm_medium=email&utm_campaign=light_email'
						a(href=href)
							div.abutton.green.pt_bold заполнить анкету
	.not_registred_text
		| Если вы не регистрировались на 
		a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') agusha.com.ua
		|, проигнорируйте это письмо.
		br
		| Или все-таки посетите наш сайт – у нас много интересного :)
	.footer
		.copyright
			| © 
			a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') Agusha.com.ua
			|  2014