.border2
	table.table_wrap
	table.header
		tbody
			tr
				th.logo
					a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email')
						.logo_image
				th.welcome
					.welcome_test
						span.pt_italic
							| Здравствуйте, #{login}!
							br
							| Ваш друг #{friend} зарегистрировался на сайте 
							a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') agusha.com.ua
							|  и решил, что вам тоже может понравиться наш сайт.
	
	table.action
		tbody
			tr
				td
					.about_action
						| Он появится на свет совсем скоро, и зарегистрироваться вы можете уже сейчас.
						br
						| Будьте первооткрывателями и получите 100 баллов, которые вы сможете обменять на подарки
						br
						| после открытия сайта.
			
			tr
				td
					.get_contacts
						| Пожалуйста, пройдите по ссылке, чтобы подтвердить свою регистрацию.
			
			tr
				td
					.action_button
						- var href = base_url + '/signup/activate/' + salt + '?utm_source=email_activate&utm_medium=email&utm_campaign=light_email'
						a(href=href)
							div.abutton.green.pt_bold Подтвердить регистрацию
	.not_registred_text
		| Если вы не знакомы с #{friend}, проигнорируйте это письмо. 
		br
		| Или все-таки посетите наш сайт – у нас много интересного :)
	.footer
		.copyright
			| © 
			a(href = base_url + '?utm_source=email_main&utm_medium=email&utm_campaign=light_email') Agusha.com.ua
			|  2014
		.unsubscribe
			a(href = base_url + '/unsubscribe') Отказаться от рассылки
