extends ../layout

block append header
	link(rel="stylesheet" href="/css/user/products/products.css")
	script(type='text/javascript').
		(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=yb0bsJMIQ5tGXR/L4ufIEGUJZhrYwSaqtetSb48bIz3xjxhSuny6ThgP*g7U6pj4RnPjtksKfad60GFKgnZRvHEi7fh849MkMlQmVdahDFFi5xCzy2bIrVL4U*PrTyFwHv*0hTTeNMHoJeSA3LFrzZThTFdvRrXaK3ZLBJa44ac-';

block append content
	#products.module.server
		include content

block append scripts
	script.
		var app = {
			products: !{JSON.stringify(products)}
		};
	script#product_stache(type="text/mustache")
		| {{#each products}}
		mixin product()
		| {{/each}}