@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/datepicker';
@import '../helpers/select2';
@import '../helpers/buttonswitch';
@import '../helpers/radioswitch';
@import '../helpers/checkbox';

$pseudo_line_color: #d86a5d;
$closest_color: #0d5c92;

@mixin closest_arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 13px;
	width: 9px;
	cursor: pointer;
}

#tour {
	margin-bottom: 50px;
}

.why_join_tour {
	width: 100%;
	
	&:before {
		margin-top: 40%;
	}
}

.why_join_left {
	width: 37.1%;
	float: left;
	height: 100%;
	position: relative;
	
	.girl {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.title {
		height: 135px;
		
		.label {
			font-size: 55px;
			line-height: 55px;
			color: $darkgreen;
		}
	}
}

.why_join_right {
	width: 62.9%;
	float: left;
	height: 100%;
	padding: 40px;
	font-size: 112.5%;
	font-style: italic;
	
	.adorable_cell {
		text-align: left;
	}
}

.program {
	height: 270px;
	margin-bottom: 20px;
	padding: 40px 0;
	color: $white;
	
	.label {
		font-size: 55px;
		line-height: 55px;
		margin-bottom: 10px;
	}
	
	.text {
		font-size: 107.2%;
		margin-bottom: 30px;
	}
	
	.timetable {
		height: 65px;
		position: relative;
		
		&:before {
			@include pseudo;
			@include absolute_centered;
			width: 100%;
			height: 1px;
			background-color: $pseudo_line_color;
		}
	}
	
	.time_block {
		display: inline-block;
		width: 16.6%;
		font-size: 112.5%;
		font-weight: bold;
		min-width: 160px;
		position: relative;
		height: 100%;
		
		.top {
			margin-bottom: 18px;
		}
		
		&:before {
			@include pseudo;
			@include absolute_centered;
			width: 13px;
			height: 1px;
			background-color: $red;
		}
		
		&:after {
			@include pseudo;
			@include absolute_centered;
			@include border_radius(5px);
			width: 5px;
			height: 5px;
			background-color: $pseudo_line_color;
		}
	}
}

.map_container {
	width: 100%;
	margin-bottom: 20px;
	
	#tour_map {
		width: 66.7%;
		float: left;
		height: 100%;
	}
	
	.map_right {
		width: 33.3%;
		float: left;
		height: 100%;
		
		.label {
			margin-bottom: 10px;
		}
		
		.text {
			font-size: 112.5%;
			color: #318b50;
		}
		
		.marker {
			margin-top: 25px;
		}
	}
	
	&:before {
		margin-top: 38%;
	}
}

.calendar_container {
	width: 100%;
	
	&:before {
		margin-top: 33.3%;
	}
}

.calendar_inside {
	color: $white;
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	
	#calendar_block_inside {
		position: relative;
		height: 100%;
		
		> .step {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: none;
			padding: 30px;
			
			.label {
				margin-bottom: 20px;
			}
			
			.text {
				font-size: 107.2%;
			}
			
			&.active {
				display: table;
			}
		}
	}
	
	.calendar_block {
		display: table-cell;
		height: 100%;
		vertical-align: top;
		background-color: $el_bg;
	}
	
	.steps_top_label {
		position: absolute;
		top: 30px;
		left: 0;
		font-size: 112.5%;
		width: 100%;
		font-weight: bold;
	}
	
	.steps {
		background-color: $darkblue;
	}
	
	.steps_navigator {
		position: absolute;
		bottom: 38px;
		left: 0;
		width: 100%;
		height: 14px;
	}
	
	.step_button {
		width: 14px;
		height: 14px;
		background-color: $white;
		display: inline-block;
		margin: 0 6px;
		cursor: pointer;
		
		&.active {
			@include inset_box_shadow(0 0 0 1px $white);
			background-color: transparent;
		}
	}
	
	.closest {
		background-color: $lightblue;
		
		#closest_block_inside {
			height: 100%;
			position: relative;
		}
	}
	
	.tour_block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
		padding: 30px;
		
		.closest_tour_label {
			font-size: 35px;
			line-height: 35px;
			color: $closest_color;
			margin-bottom: 15px;
		}
		
		.top_label {
			font-size: 112.5%;
			color: $closest_color;
			margin: 10px;
			padding: 0;
		}
		
		.label {
			font-size: 160px;
			line-height: 160px;
			padding: 0;
			margin-bottom: -20px;
		}
		
		&.active {
			display: table;
		}
	}
	
	.prev_tour {
		@include closest_arrow;
		left: 26px;
	}
	
	.next_tour {
		@include closest_arrow;
		right: 26px;
	}
	
	#calendar {
		width: 100%;
		height: 100%;
		color: $base;
		padding: 20px;
	}
}

#tour_form {
	margin-bottom: 20px;
	
	.form_topper {
		height: 94px;
		margin-bottom: 1px;
		background-color: $white;
		
		.content {
			height: 100%;
		}
		
		.left {
			float: left;
			height: 100%;
		}
		
		.label {
			font-size: 45px;
			line-height: 45px;
			color: $darkgreen;
		}
		
		.right {
			float: right;
			height: 100%;
		}
		
		.top_label {
			font-size: 112.5%;
		}
	}
	
	input {
		background-color: #f2f2f2;
		box-shadow: none;
		
		&:focus {
			@include inset_box_shadow(0 0 0 3px $darkgreen);
			background-color: $white;
		}
	}
	
	.right {
		.input {
			margin-left: 65px;
		}
	}
	
	.left {
		.input {
			margin-right: 65px;
		}
	}
}

.form_inputs {
	padding: 40px 0 10px;
	background-color: $white;
	margin-bottom: 1px;
	
	.topper {
		margin-bottom: 30px;
		color: #fd7b6a;
		font-style: italic;
	}
}

.children_inputs {
	padding: 40px 0 10px;
	background-color: $white;
	
	.children_topper {
		margin-bottom: 30px;
		font-style: italic;
		font-size: 85.7%;
		color: #a6a6a6;
		position: relative;
		text-align: center;
		height: 12px;
	}
	
	.child_name_label {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		padding-right: 65px;
	}
	
	.child_gender_label {
		@include absolute_horizontal_centered;
		width: 130px;
	}
	
	.child_right_label {
		position: absolute;
		left: 50%;
		top: 0;
		padding-left: 65px;
		width: 50%;
	}
	
	.child_block {
		overflow: hidden;
		
		.half {
			position: relative;
		}
		
		.gender_radio {
			position: absolute;
			width: 38px;
			height: 58px;
			top: 0;
		}
		
		.left {
			.gender_radio {
				right: 0;
			}
		}
		
		.right {
			.gender_radio {
				left: 0;
			}
		}
	}
	
	.child_age {
		text-transform: lowercase;
		width: 50%;
		float: left;
	}
	
	.would_go {
		width: 50%;
		float: left;
		height: 58px;
	}
	
	.more {
		padding-bottom: 30px;
		
		.top_label {
			font-size: 100%;
			padding: 0;
		}
	}
	
	#add_child {
		border-bottom: 1px dashed;
		cursor: pointer;
	}
}

.want_signup {
	height: 68px;
	background-color: #fd7b6a;
	color: #c0574b;
	font-style: italic;
	
	.checkbox {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		
		input {
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
	
	.text {
		display: inline-block;
		line-height: 30px;
		vertical-align: middle;
		margin-left: 14px;
	}
}

.send_tour {
	height: 117px;
	background-color: $red;
	
	button {
		color: $red;
	}
}

.tour_reviews {
	height: 330px;
	
	.top {
		height: 270px;
	}
	
	.avatar {
		width: 25%;
		float: left;
		height: 100%;
		position: relative;
		
		.signature {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 105px;
		}
		
		.position {
			font-size: 85.7%;
		}
		
		.name {
			font-size: 128.6%;
		}
		
		img {
			@include absolute_centered;
			@include border_radius(120px);
			width: 120px;
			height: 120px;
		}
	}
	
	.text {
		width: 75%;
		float: left;
		height: 100%;
		padding: 0 33px;
		color: #4d4d4d;
		
		.adorable_cell {
			text-align: left;
		}
		
		a {
			text-decoration: none;
			font-style: italic;
			color: #0d5c92;
		}
	}
	
	.bottom {
		height: 60px;
	}
}